@import 'accout-public';
#main-account {
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 30px;    min-height: 500px;
}

.main-inner {
    width: 1024px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.main-content {
    width: 817px;
    display: inline-block;
    vertical-align: top;
}


//user

.user {
    padding: 24px 48px;
    background: url('../../images/account/user-msg-bj.png') repeat-x;
    .msg-false {
        @include account;
        @include msg-false;
        float: right;
        margin-top: 30px;
    }
    .msg-true {
        margin-top: 30px;
        float: right;
        @include account;
        @include msg-true;
    }
}

.user-information {
    display: inline-block;
    vertical-align: top;
    .pic {
        width: 90px;
        height: 90px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: #017AFF;
        display: inline-block;
        vertical-align: top;
    }
    .log-list {
        margin-left: 10px;
        width: 400px;
        display: inline-block;
        vertical-align: top;
    }
    .name {
        font-size: 16px;
        color: #fff;
        line-height: 100%;
        padding: 16px 0;
    }
}

.sign {
    font-size: 0;
    button {
        width: 70px;
        height: 24px;
        font-size: 12px;
        color: #fff;
        border: 1px solid #017aff;
        line-height: 24px;
        background-color: #7aaee8;
        cursor: pointer;
    }
}

.sign-list {
    display: inline-block;
    vertical-align: top;
    li {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }
    .vip-true {
        @include account;
        @include vip-true;
    }
    .vip-false {
        @include account;
        @include vip-false;
    }
    .phone-true {
        @include account;
        @include phone-true;
    }
    .phone-false {
        @include account;
        @include phone-false;
    }
    .email-true {
        @include account;
        @include email-true;
    }
    .email-false {
        @include account;
        @include email-false;
    }
    .person-true {
        @include account;
        @include person-true;
    }
    .person-false {
        @include account;
        @include person-false;
    }
}


// money-information

.money-information {
    min-height: 334px;
    border: 1px solid $gray;
    background-color: #fff;
    margin-top: 10px;
}

.money-total {
    width: 460px;
    display: inline-block;
    vertical-align: top;
}

// shuju
.shuju {
    display: inline-block;
}

.shuji_l {
    display: inline-block;
    vertical-align: top;
    width: 212px;
    height: 212px;
    margin: 0 30px 0 49px;
    position: relative;
}

.shuji_l h3 {
    position: absolute;
    left: 68px;
    top: 80px;
    line-height: 28px;
    color: #666;
    font-size: 16px;
    text-align: center;
}

.shuji_r {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px; // float: left;
    width: 158px;
    .balance {
        background: #59c6fc;
        h4 {
            color: #59c6fc;
        }
    }
    .freeze {
        background: #e2413e;
        h4 {
            color: #e2413e;
        }
    }
    .await {
        background: #7cc379;
        h4 {
            color: #7cc379;
        }
    }
}

.shuji_r li {
    margin-bottom: 45px;
    height: 14px;
}

.shuji_r li h4 {
    padding-left: 10px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 14px;
    background: #fff;
}

.item-title {
    line-height: 17px;
    color: $fontColor;
    font-size: 16px;
    span {
        display: inline-block;
        @include account;
        vertical-align: top;
    }
}

.money-total-title {
    margin-left: 10px;
    margin-top: 24px;
    .item-title span {
        @include money-total;
    }
    .total-num {
        margin-left: 50px;
        font-size: 14px;
        color: #2F2F2F;
        line-height: 100%;
        padding: 26px 0;
        font-weight: bold;
    }
}

.earnings {
    height: 108px;
    background: #f5f5f5;
    font-size: 0;
    text-align: center;
    .item-title {
        padding: 20px 0;
    }
    .earning-num {
        color: #2f2f2f;
        text-align: center;
        line-height: 100%;
        font-size: 16px;
    }
}

.total-right {
    display: inline-block;
    vertical-align: top;
    width: 350px;
}

.earnings-total {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .item-title {
        span {
            @include earnings-total;
        }
    }
}

.await-earnings {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    .item-title {
        span {
            @include earnings;
        }
    }
}

.use-balance {
    padding-left: 62px;
    p {
        font-size: 16px;
        color: $fontColor;
        line-height: 100%;
        padding: 60px 0;
        span {
            color: #2f2f2f;
        }
    }
    .btn-grout {
        font-size: 0;
        button {
            height: 34px;
            border: 1px solid $blue;
            font-size: 18px;
            border-radius: 10px;
            margin-right: 24px;
            width: 65px;
        }
        .push-money {
            color: #fff;
            background-color: $blue;
        }
        .pop-money {
            color: $blue;
            background-color: #fff;
        }
    }
}

.earning-log {
    .item-title {
        span {
            @include earnings-log;
        }
    }
}

.lend-log {
    .item-title {
        span {
            @include lend-log;
        }
    }
}

.money-log {
    min-height: 200px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    margin-top: 10px;
    padding: 0 10px;
    .item-title {
        float: left;
        padding-top: 20px;
    }
    .money-title {
        height: 45px;
        padding-top: 10px;
        button {
            height: 33px;
            float: right;
            border: 1px solid $blue;
            width: 78px;
            font-size: 18px;
            border-radius: 10px;
            color: #fff;
            background-color: $blue;
            margin-top: 10px;
        }
    }
    .corner {
        text-align: right;
        a {
            color: $blue;
            font-size: 14px;
            line-height: 50px;
        }
    }
}
