/*
* @Author: pc
* @Date:   2017-04-24 09:56:37
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2017-04-25 10:40:22
*/
form {
  font-size: 0;
}
form input {
  margin-left: 10px;
  vertical-align: top;
}
form select {
  margin-left: 10px;
}
form > div {
  margin-bottom: 25px;
}
form label,
form .role-label {
  font-size: 16px;
  color: #666;
  text-align: right;
  line-height: 38px;
  display: inline-block;
  min-width: 70px;
}
form .tip {
  color: red;
  font-size: 14px;
  line-height: 38px;
  display: inline-block;
  padding-left: 10px;
}
form input[type='button'] {
  width: 106px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #017aff;
  cursor: pointer;
}

.tab > ul {
  height: 48px;
  border-bottom: 1px solid #017aff;
  width: 100%;
  font-size: 0;
}
.tab > ul li {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  line-height: 48px;
  color: #017aff;
  font-size: 16px;
  cursor: pointer;
}
.tab > ul li.on {
  background-color: #017aff;
  color: #fff;
}

table {
  width: 795px;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  font-size: 14px;
  line-height: 100%;
  padding: 10px 0;
  text-align: center;
  color: #666;
}
table thead th {
  color: #017aff;
}
table thead tr {
  border-bottom: 2px solid #ddedff;
}
table tbody tr {
  border-bottom: 1px solid #e9e9e9;
}
table tbody tr:hover {
  background-color: #f5f5f5;
}

.pagination {
  font-size: 0;
  width: 340px;
  height: 20px;
  margin: 0 auto;
}

.pagination li {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}
.pagination li a {
  color: #666;
}

.control-pic {
  height: 20px;
  background-repeat: no-repeat;
  background-position: 12px 6px;
}

.page-top {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 14px;
  height: 17px;
  background-position: 0 -51px;
}

.page-up {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 10px;
  height: 17px;
  background-position: 0 0;
}

.page-down {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 10px;
  height: 17px;
  background-position: 0 -17px;
}

.page-bottom {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 14px;
  height: 17px;
  background-position: 0 -34px;
}

.pagination .pagination-active a {
  display: block;
  color: #fff;
  border-radius: 10px;
  background-color: #017aff;
}

.data-title a {
  color: #666;
}

#main-account {
  background: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 30px;
  min-height: 500px;
}

.main-inner {
  width: 1024px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.main-content {
  width: 817px;
  display: inline-block;
  vertical-align: top;
}

.user {
  padding: 24px 48px;
  background: url("../../images/account/user-msg-bj.png") repeat-x;
}
.user .msg-false {
  background: url("../../images/account/account.png") no-repeat;
  height: 26px;
  width: 25px;
  background-position: 0 -288px;
  float: right;
  margin-top: 30px;
}
.user .msg-true {
  margin-top: 30px;
  float: right;
  background: url("../../images/account/account.png") no-repeat;
  height: 26px;
  width: 25px;
  background-position: 0 -314px;
}

.user-information {
  display: inline-block;
  vertical-align: top;
}
.user-information .pic {
  width: 90px;
  height: 90px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #017AFF;
  display: inline-block;
  vertical-align: top;
}
.user-information .log-list {
  margin-left: 10px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
}
.user-information .name {
  font-size: 16px;
  color: #fff;
  line-height: 100%;
  padding: 16px 0;
}

.sign {
  font-size: 0;
}
.sign button {
  width: 70px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #017aff;
  line-height: 24px;
  background-color: #7aaee8;
  cursor: pointer;
}

.sign-list {
  display: inline-block;
  vertical-align: top;
}
.sign-list li {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.sign-list .vip-true {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -249px;
}
.sign-list .vip-false {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -227px;
}
.sign-list .phone-true {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -139px;
}
.sign-list .phone-false {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -161px;
}
.sign-list .email-true {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -205px;
}
.sign-list .email-false {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -183px;
}
.sign-list .person-true {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -95px;
}
.sign-list .person-false {
  background: url("../../images/account/account.png") no-repeat;
  height: 22px;
  width: 22px;
  background-position: 0 -117px;
}

.money-information {
  min-height: 334px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  margin-top: 10px;
}

.money-total {
  width: 460px;
  display: inline-block;
  vertical-align: top;
}

.shuju {
  display: inline-block;
}

.shuji_l {
  display: inline-block;
  vertical-align: top;
  width: 212px;
  height: 212px;
  margin: 0 30px 0 49px;
  position: relative;
}

.shuji_l h3 {
  position: absolute;
  left: 68px;
  top: 80px;
  line-height: 28px;
  color: #666;
  font-size: 16px;
  text-align: center;
}

.shuji_r {
  display: inline-block;
  vertical-align: top;
  padding-top: 40px;
  width: 158px;
}
.shuji_r .balance {
  background: #59c6fc;
}
.shuji_r .balance h4 {
  color: #59c6fc;
}
.shuji_r .freeze {
  background: #e2413e;
}
.shuji_r .freeze h4 {
  color: #e2413e;
}
.shuji_r .await {
  background: #7cc379;
}
.shuji_r .await h4 {
  color: #7cc379;
}

.shuji_r li {
  margin-bottom: 45px;
  height: 14px;
}

.shuji_r li h4 {
  padding-left: 10px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 14px;
  background: #fff;
}

.item-title {
  line-height: 17px;
  color: #666;
  font-size: 16px;
}
.item-title span {
  display: inline-block;
  background: url("../../images/account/account.png") no-repeat;
  vertical-align: top;
}

.money-total-title {
  margin-left: 10px;
  margin-top: 24px;
}
.money-total-title .item-title span {
  height: 17px;
  width: 14px;
  background-position: 0 -15px;
}
.money-total-title .total-num {
  margin-left: 50px;
  font-size: 14px;
  color: #2F2F2F;
  line-height: 100%;
  padding: 26px 0;
  font-weight: bold;
}

.earnings {
  height: 108px;
  background: #f5f5f5;
  font-size: 0;
  text-align: center;
}
.earnings .item-title {
  padding: 20px 0;
}
.earnings .earning-num {
  color: #2f2f2f;
  text-align: center;
  line-height: 100%;
  font-size: 16px;
}

.total-right {
  display: inline-block;
  vertical-align: top;
  width: 350px;
}

.earnings-total {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.earnings-total .item-title span {
  height: 17px;
  width: 17px;
  background-position: 0 -64px;
}

.await-earnings {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
.await-earnings .item-title span {
  height: 17px;
  width: 17px;
  background-position: 0 -47px;
}

.use-balance {
  padding-left: 62px;
}
.use-balance p {
  font-size: 16px;
  color: #666;
  line-height: 100%;
  padding: 60px 0;
}
.use-balance p span {
  color: #2f2f2f;
}
.use-balance .btn-grout {
  font-size: 0;
}
.use-balance .btn-grout button {
  height: 34px;
  border: 1px solid #017aff;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 24px;
  width: 65px;
}
.use-balance .btn-grout .push-money {
  color: #fff;
  background-color: #017aff;
}
.use-balance .btn-grout .pop-money {
  color: #017aff;
  background-color: #fff;
}

.earning-log .item-title span {
  height: 15px;
  width: 14px;
  background-position: 0 -32px;
}

.lend-log .item-title span {
  height: 15px;
  width: 13px;
  background-position: 0 0;
}

.money-log {
  min-height: 200px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  margin-top: 10px;
  padding: 0 10px;
}
.money-log .item-title {
  float: left;
  padding-top: 20px;
}
.money-log .money-title {
  height: 45px;
  padding-top: 10px;
}
.money-log .money-title button {
  height: 33px;
  float: right;
  border: 1px solid #017aff;
  width: 78px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  background-color: #017aff;
  margin-top: 10px;
}
.money-log .corner {
  text-align: right;
}
.money-log .corner a {
  color: #017aff;
  font-size: 14px;
  line-height: 50px;
}

/*# sourceMappingURL=account-home.css.map */
