$gray:#e9e9e9;
$blue:#017aff;
$fontColor:#666;
$tableBorderColor:#ddedff;
.input-little {
    width: 96px;
    height: 36px;
    border: 1px solid $blue;
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 36px;
}

.input-middle {
    width: 117px;
    height: 36px;
    border: 1px solid $blue;
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 36px;
}

.input-big {
    width: 168px;
    height: 36px;
    border: 1px solid $blue;
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 36px;
}

.select-little {
    width: 96px;
    height: 38px;
    border: 1px solid $blue;
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 36px;
}

.select-middle {
    width: 117px;
    height: 38px;
    border: 1px solid $blue;
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 36px;
}

.select-big {
    width: 168px;
    height: 38px;
    border: 1px solid $blue;
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 36px;
}

#main-account {
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 30px;
}

.main-inner {
    width: 1024px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

.main-content {
    width: 817-16px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border-top: 1px solid $blue;
    .page-path {
        height: 63px;
        font-size: 14px;
        color: #666;
        line-height: 34px;
    }
}

.time-choice {
    font-size: 0;
    margin-bottom: 30px;
    span {
        font-size: 14px;
        color: #666;
        padding-right: 46px;
    }
    .time {
        display: inline-block;
        vertical-align: top;
        margin-right: 46px;
    }
    .choice-type {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-right: 46px;
        span {
            position: absolute;
            width: 9px;
            height: 8px;
            background: url(../../images/account/select-bj.jpg) no-repeat 0px 0px;
            right: -41px;
            top: 15px;
        }
    }
    button {
        width: 79px;
        height: 38px;
        background-color: $blue;
        font-size: 14px;
        color: #fff;
        line-height: 38px;
        border-radius: 4px;
    }
}

.money-log {
    margin-bottom: 40px;
    table {
        width: 795px;
        margin: 0 auto;
        border-collapse: collapse;
        border-spacing: 0;
        th,
        td {
            text-align: center;
            font-size: 14px;
            padding: 10px 0;
            line-height: 100%;
        }
    }
    thead {
        th {
            color: $blue;
        }
        tr {
            border-bottom: 2px solid $tableBorderColor;
        }
    }
    tbody tr {
        border-bottom: 1px solid $gray;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}