@import 'accout-public';
#main-account {
    padding-top: 10px;
    padding-bottom: 30px;
    background: #f5f5f5;
    min-height: 500px;
}

.main-inner {
    width: 1024px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

.main-content {
    display: inline-block;
    width: 817-16px;
    padding: 0 8px 30px 8px;
    vertical-align: top;
    border: 1px solid $gray;
    border-top: 1px solid $blue;
    background-color: #fff;
    .page-path {
        font-size: 14px;
        line-height: 34px;
        height: 63px;
        color: #666;
    }
}

.tab-content {
    &>div {
        display: none;
    }
    .pop {
        display: block;
    }
}

.pop {
    font-size: 0;
    margin-top: 36px;
    label,
    .role-label {
        width: 263px;
    }
    span {
        display: inline-block;
        margin-left: 10px;
        line-height: 36px;
        min-width: 30px;
        font-size: 16px;
        vertical-align: top;
        color: #666;
    }
    .pop-num input {
        @include input-big;
    }
    .bank select {
        @include select-big;
    }
}

.pop-money .tab>ul{
    li{
        width: 50%;
    }
}
.security-code {
    input {
        @include input-little;
        border-right: none;
        border-radius: 4px 0 0 4px;
    }
    .code-img {
        width: 73px;
        height: 26px;
        padding: 5px;
        border: 1px solid $blue;
        border-radius: 0 4px 4px 0;
        vertical-align: top;
        background-color: #fff;
        img {
            width: 100%;
            height: 100%;
        }
    }
    div {
        display: inline-block;
    }
}

.pact {
    width: 793px;
    input {
        display: inline-block;
    }
    span {
        font-size: 14px;
        line-height: 14px;
        color: $fontColor;
        display: inline-block;
        width: 717px;
    }
}

.pop-log {
    .pop-log-table {
        margin-top: 36px;
        margin-bottom: 30px;
    }
}
