/*
* @Author: pc
* @Date:   2017-04-24 09:56:37
 * @Last Modified by:   pc
 * @Last Modified time: 2017-05-02 09:44:21
*/
form {
  font-size: 0;
}
form input {
  margin-left: 10px;
  vertical-align: top;
}
form select {
  margin-left: 10px;
}
form > div {
  margin-bottom: 25px;
}
form label,
form .role-label {
  font-size: 16px;
  color: #666;
  text-align: right;
  line-height: 38px;
  display: inline-block;
  min-width: 70px;
}
form .tip {
  color: red;
  font-size: 14px;
  line-height: 38px;
  display: inline-block;
  padding-left: 10px;
}
form input[type='button'] {
  width: 106px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #017aff;
  cursor: pointer;
}

.tab > ul {
  height: 48px;
  border-bottom: 1px solid #017aff;
  width: 100%;
  font-size: 0;
}
.tab > ul li {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  line-height: 48px;
  color: #017aff;
  font-size: 16px;
  cursor: pointer;
}
.tab > ul li.on {
  background-color: #017aff;
  color: #fff;
}

table {
  width: 795px;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  font-size: 14px;
  line-height: 100%;
  padding: 10px 0;
  text-align: center;
  color: #666;
}
table thead th {
  color: #017aff;
}
table thead tr {
  border-bottom: 2px solid #ddedff;
}
table tbody tr {
  border-bottom: 1px solid #e9e9e9;
}
table tbody tr:hover {
  background-color: #f5f5f5;
}

.pagination {
  font-size: 0;
  width: 340px;
  height: 20px;
  margin: 0 auto;
}

.pagination li {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}
.pagination li a {
  color: #666;
}

.control-pic {
  height: 20px;
  background-repeat: no-repeat;
  background-position: 12px 6px;
}

.page-top {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 14px;
  height: 17px;
  background-position: 0 -51px;
}

.page-up {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 10px;
  height: 17px;
  background-position: 0 0;
}

.page-down {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 10px;
  height: 17px;
  background-position: 0 -17px;
}

.page-bottom {
  background: url("../../images/account/pagination.png") no-repeat;
  width: 14px;
  height: 17px;
  background-position: 0 -34px;
}

.pagination .pagination-active a {
  display: block;
  color: #fff;
  border-radius: 10px;
  background-color: #017aff;
}

.data-title a {
  color: #666;
}

#main-account {
  padding-top: 10px;
  padding-bottom: 30px;
  background: #f5f5f5;
  min-height: 500px;
}

.main-inner {
  width: 1024px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.main-content {
  display: inline-block;
  width: 801px;
  padding: 0 8px 30px 8px;
  vertical-align: top;
  border: 1px solid #e9e9e9;
  border-top: 1px solid #017aff;
  background-color: #fff;
}
.main-content .page-path {
  font-size: 14px;
  line-height: 34px;
  height: 63px;
  color: #666;
}

.tab-content > div {
  display: none;
}
.tab-content .push {
  display: block;
}

.push {
  font-size: 0;
  margin-top: 36px;
}
.push label,
.push .role-label {
  width: 263px;
}
.push span {
  display: inline-block;
  margin-left: 10px;
  line-height: 36px;
  min-width: 30px;
  font-size: 16px;
  vertical-align: top;
  color: #666;
}
.push .push-num input {
  line-height: 36px;
  width: 163px;
  height: 36px;
  padding-left: 5px;
  border: 1px solid #017aff;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #666;
}
.push .push-type {
  font-size: 14px;
}
.push .push-type input {
  width: 0;
  height: 0;
  opacity: 0;
}
.push .push-type div {
  display: inline-block;
}
.push .push-type label {
  width: 70px;
  height: 32px;
  text-align: center;
  color: #017aff;
  background-color: #fff;
  border: 1px solid #017aff;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
}
.push .push-type label.on {
  background-color: #017aff;
  color: #fff;
}
.push .push-type-choice {
  font-size: 0;
}
.push .push-type-choice > div {
  margin-left: 10px;
}
.push .push-type-choice input {
  padding: 0;
}

.push-money .tab > ul li {
  width: 50%;
}

.security-code input {
  line-height: 36px;
  width: 91px;
  height: 36px;
  padding-left: 5px;
  border: 1px solid #017aff;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #666;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.security-code .code-img {
  width: 73px;
  height: 26px;
  padding: 5px;
  border: 1px solid #017aff;
  border-radius: 0 4px 4px 0;
  vertical-align: top;
  background-color: #fff;
}
.security-code .code-img img {
  width: 100%;
  height: 100%;
}
.security-code div {
  display: inline-block;
}

.pact {
  width: 793px;
}
.pact input {
  display: inline-block;
}
.pact span {
  font-size: 14px;
  line-height: 14px;
  color: #666;
  display: inline-block;
  width: 717px;
}

.push-log .push-log-table {
  margin-top: 36px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=push-money.css.map */
