@charset "utf-8";
 /*CSS Document*/ 

#zhanghao{
	background-color:#fff;
}
#xiaxuan2 .wodezhanghao{
	display:block;
}
#xiaxuan2 .wodezhanghao .zijinjilu a{
	display:block;
	color:#40ace1;
	border-bottom:1px solid #40ace1;
}

#main{
	background:#f5f6f7;
	padding-top:50px;
	padding-bottom:100px;
}
#time{
	height:82px;
	background:#f5f6f7;
}
#time h3{
	float:left;
	font-size:16px;
	color:#00b0ec;
	line-height:36px;
	padding-left:150px;
	padding-right:10px;
}
#time .laydate-icon{
	padding-left:10px;
	width:139px;
	height:30px;
	border:1px solid #40ace1;
	float:left;
	margin-right:25px;
}
.demo1{
	float:left;
}
.laydate-icon{
	width:129px;
	height:30px;
	border:1px solid #40ace1;
	border-radius:4px;
}

.quanbu{
	float:left;
	width:129px;
	height:30px;
	border:1px solid #40ace1;
	border-radius:4px;
	padding:0 10px;
	margin-left:6px;
	background:url(../images/icon.png) #fff no-repeat 126px 8px;
	font-size:14px;
	line-height:30px;
	color:#999;
}
.sousuo a{
	display:block;
	float:left;
	width:41px;
	height:30px;
	padding-left:33px;
	border:1px solid #2d92c4;
	border-radius:4px;
	margin-left:10px;
	background:#40ace1 url(../images/sousuo.png) no-repeat 12px 7px;
	color:#fff;
	font-size:16px;
	line-height:29px;
}
.sousuo a:hover{
	border:1px solid #FF7F00;
	border:#FF7F00;
	background:#FF7F00 url(../images/sousuo.png) no-repeat 12px 7px;
}
/*biaodan-star*/
.biaodan{
	width:978px;
	height:595px;
	border:1px solid #cdcdcd;
}
.biaodan span{
	color:#ff6600;
}
.biaotou{
	float:left;
	height:53px;
	background:#40ace1;
	border-bottom:1px solid #cdcdcd;
}
.biaotou li{
	float:left;
	width:98.75px;
	text-align:center;
	line-height:53px;
	color:#fff;
}
.biaotou .last{
	width:188px;
}
.biaodan1 .last{
	padding-top:6px;
	height:47px;
	width:182px;
	color:#666;
	font-size:12px;
	line-height:21px;
	border-left:1px solid #cccccc;
	padding-left:5px;
	text-align:left;
}
.biaodan1 li{
	font-size:12px;
	line-height:53px;
}
.biaotou .yanse1{
	color:#808080;
}
.biaotou .yanse2{
	color:#269d30;
}
.biaotou .yanse3{
	color:#2a7d31;
}
.biaotou .yanse4{
	color:#40ace1;
}
.biaotou .yanse5{
	color:#ff6600;
}
.biaotou .yanse6{
	color:#40ace1;
}
.biaotou .yanse7{
	color:#808080;
}
.biaotou .yanse8{
	color:#808080;
}
.biaodan .biaodan1{
	background:#fff;
}
.biaodan1 .yanse8{
	font-size:12px;
	line-height:20px;
	color:#666;
	padding-top:6px;
}
#main .biaodan .biaodan2{
	background:#efefef;
}
.biaodan .biandan3{
	border-bottom:none;
}
/*xiayiye-star*/
.xiayiye{
	padding-top:100px;
	padding-left:194px;
}
.xiayiye a{
	display:block;
	color:#666666;
	line-height:30px;
	font-size:16px;
}
.xiayiye li{
	float:left;
	color:#666666;
	line-height:30px;
	font-size:16px;
	padding-right:5px;
}
.xiayiye .one{
	color:#484848;
}
.xiayiye .shuru{
	padding:0 6px;
	width:18px;
	height:23px;
	border:1px solid #bdbdbd;
	border-radius:4px;
	margin:3px 13px 3px 9px;
}
.xiayiye .last{
	text-align:center;
	width:73px;
	height:28px;
	margin-left:17px;
	border:1px solid #bdbdbd;
	border-radius:4px;
	background:#40ace1;
	color:#fff;
	cursor:pointer;
}
.xiayiye .last:hover{
	background:#FF7F00;
	border:#FF7F00;
}
