/*bang-bar*/

#bang-bar {
    font-size: 12px;
    line-height: 36px;
    color: #fff;
    background-color: #017aff;
}

.bang-bar-container {
    height: 38px;
    width: 1024px;
    margin: 0 auto;
}

.left-content {
    float: left;
}

.right-content {
    float: right;
}

#bang-bar .mobile {
    float: left;
}

#bang-bar .mobile span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/common/common.png") no-repeat 0 0;
    vertical-align: middle;
    margin-right: 7px;
}

#bang-bar .weChat {
    float: left;
    padding-left: 30px;
}

#bang-bar .weChat span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/common/common.png") no-repeat -24px 0;
    vertical-align: middle;
    margin-right: 7px;
}

#login-register {
    float: left;
}

#login-register a {
    color: #fff;
    padding-left: 20px;
}

#login-register a:hover {
    text-decoration: underline;
}


/*header*/
#header{
    background-color: #fff;
}
.header-container {
    height: 90px;
    width: 1024px;
    margin: 0 auto;
}

#bang-logo {
    float: left;
    margin-top: 16px;
}
#bang-logo a{
    display: block;
    width: 170px;
    height: 60px;
    background: url('../images/common/efubang.png') no-repeat 0 0;
}
#bang-nav {
    float: right;
    margin-top: 28px;
}

#bang-nav li {
    float: left;
}

#bang-nav li a {
    width: 66px;
    display: block;
    color: #1a1a1a;
    font-size: 16px;
    line-height: 34px;
    margin-left: 85px;
    text-decoration: none;
    border-bottom: 4px solid #fff;
    text-align: center;
}

#bang-nav li .nav-active {
    color: #017aff;
    border-bottom: 4px solid #017aff;
}


/*foote*/

#footer {
    background: #363636;
    border-bottom: 2px solid #7d7d7d;
    padding-top: 40px;
}

.footer-inner {
    width: 1024px;
    margin: 0 auto;
}

.footer-left {
    display: inline-block;
}

.company-map {
    height: 43px;
}

.company-map li {
    position: relative;
    text-align: center;
    display: inline-block;
}

.company-map a {
    width: 96px;
    display: inline-block;
    font-size: 14px;
    color: #adadad;
    line-height: 16px;
}

.company-map span {
    color: #8d8b8b;
    line-height: 100%;
}

.back-links {
    padding-left: 19px;
    height: 143px;
}

.back-links p {
    display: inline-block;
    font-size: 14px;
    color: #adadad;
    line-height: 16px;
    margin-right: 17px;
}

.back-links ul {
    width: 433px;
    display: inline-block;
    height: 143px;
    vertical-align: top;
}

.back-links li {
    display: inline-block;
    margin-bottom: 20px;
}

.back-links li a {
    display: block;
    width: 78px;
    font-size: 14px;
    color: #adadad;
    line-height: 16px;
}

.footer-left li a:hover {
    color: #fff;
}

.footer-right {
    
    float: right;
    width: 346px;
}

.footer-right .contact {
    float: left;
    padding-left: 10px;
}

.footer-right span {
    display: block;
    height: 30px;
    float: left;
    font-size: 14px;
    color: #adadad;
    line-height: 100%;
    border-right: 1px solid #a7a7a7;
    height: 122px;
    width: 66px;
}

.contact li {
    font-size: 14px;
    color: #adadad;
    line-height: 100%;
    margin-bottom: 13px;
}

.footer-pic {
    width: 260px;
    margin: 0 auto;
    height: 49px;
}

.footer-pic a {
    display: block;
    float: left;
}
.footer-pic .pic0{
    width: 130px;
    height: 49px;
    background: url("../images/common/common.png") no-repeat 0 -26px;
}
.footer-pic .pic1{
    width: 130px;
    height: 49px;
    background: url("../images/common/common.png") no-repeat 0 -75px;
}
.copyright {
    padding-top: 30px;
    height: 34px;
    background: #363636;
    text-align: center;
    font-size: 14px;
    color: #888888;
}