/*banner*/

.slideBox {
    width: 100%;
    height: 726px;
    overflow: hidden;
    position: relative;
}

.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 50%;
    margin-right: -7px;
    bottom: 5px;
    z-index: 1;
}

.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.slideBox .hd ul li {
    float: left;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0 6px;
    line-height: 14px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.slideBox .hd ul li.on {
    background: #fff;
}

.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.slideBox .bd img {
    height: 726px;
    display: block;
}

.slideBox .prev,
.slideBox .next {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url('../../images/home/slider-arrow.png') -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.slideBox .next {
    left: auto;
    right: 3%;
    background-position: 8px 5px;
}

.slideBox .prev:hover,
.slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.slideBox .prevStop {
    display: none;
}

.slideBox .nextStop {
    display: none;
}


/*user-login*/

.login-box {
    position: relative;
    z-index: 100;
    width: 1024px;
    height: 0;
    margin: 0 auto;
}

.login-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 146px;
    padding: 50px 50px 46px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
}

.login-container h1 {
    padding-bottom: 58px;
    text-align: center;
    color: #017aff;
    font-size: 18px;
    line-height: 100%;
}

.code,
.name-box,
.password-box {
    padding: 0 17px;
    border-radius: 6px;
    background: #fff;
}

.login-container input {
    float: left;
    height: 45px;
    font-size: 14px;
}

.login-container label {
    display: block;
    float: left;
    width: 26px;
    height: 45px;
}

.name-box input,
.password-box input {
    width: 222px;
}

.name-box,
.password-box {
    height: 45px;
    margin-bottom: 5px;
}

.code {
    height: 45px;
    margin-bottom: 45px;
}

.code p {
    float: left;
    height: 45px;
}

.code input {
    width: 143px;
}

.code-img {
    float: left;
    width: 54px;
    height: 25px;
    margin-top: 8px;
    padding-top: 8px;
    padding-left: 24px;
    border-left: 1px solid #e5e5e5;
}

label[for="user-name"] {
    background: url("../../images/home/user-login-icon01.png") no-repeat 0 14px;
}

label[for="user-password"] {
    background: url("../../images/home/user-login-icon02.png") no-repeat 0 14px;
}

label[for="verification-code"] {
    background: url("../../images/home/user-login-icon03.png") no-repeat 0 14px;
}

.btn {
    width: 282px;
    height: 43px;
}

.login-container [type="button"] {
    width: 282px;
    height: 43px;
    margin-bottom: 35px;
    color: #fff;
    border-radius: 6px;
    background: #017aff;
    font-size: 24px;
}

.login-links {
    width: 282px;
    text-align: center;
    color: #fff;
}

.login-links a {
    color: #fff;
    font-size: 12px;
    line-height: 100%;
}

.login-links a:hover {
    text-decoration: underline;
}

.login-links span {
    padding: 0 10px;
}


/*enter-yet*/

.enter-yet {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    margin-bottom: 146px;
    padding: 90px 20px 55px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
}

.user-photo {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 55px;
    background: red;
}

.user-photo img {
    width: 110px;
    height: 110px;
    border-radius: 55px;
}

.enter-yet-links {
    width: 205px;
    margin: 0 auto;
    padding: 88px 0 44px;
}

.enter-yet-links a {
    display: inline-block;
    padding: 0 5px;
    color: #fefefe;
    font-size: 13px;
    line-height: 100%;
}

.enter-yet-links a:hover {
    text-decoration: underline;
}

.button-group button {
    width: 159px;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 9px;
    outline: none;
    background: #017aff;
    font-size: 14px;
}

.button-group button[name="join-money"] {
    margin-right: 17px;
}

#notice {
    height: 40px;
    background-color: #f5f5f5;
}

.notice-inner {
    width: 1024px;
    margin: 0 auto;
}

#notice span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../../images/home/home.png') 0 -634px;
    vertical-align: initial;
}

#notice p {
    display: inline-block;
    color: #1a1a1a;
    font-size: 16px;
    line-height: 40px;
}


/*company-data*/

.company-data {
    width: 1064px;
    margin: 0 auto;
    display: table;
    padding-top: 33px;
}

.company-data dl {
    width: 218px;
    height: 148px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    margin: 0 23px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    color: #1a1a1a;
}

.company-data dt {
    line-height: 100%;
    font-size: 44px;
    padding-top: 40px;
}

.company-data dd {
    line-height: 100%;
    font-size: 16px;
    padding-top: 20px;
}

.company-data dl a {
    color: #017aff;
    text-decoration: underline;
    line-height: 148px;
}


/*good-tiem*/

#good-item {
    width: 1024px;
    margin: 0 auto;
}

.item-title {
    width: 1024px;
    margin: 0 auto;
    margin-top: 94px;
    border-bottom: 2px solid #007aff;
    font-size: 30px;
    line-height: 40px;
    color: #007aff;
    margin-bottom: 50px;
}

.item-title span {
    color: #e1efff;
    font-size: 18px;
    padding-left: 20px;
}

.item-detail .img {
    height: 169px;
    width: 290px;
    background: url('../../images/home/item-img.jpg') no-repeat left top;
}

.item-detail dl {
    float: left;
    width: 244px;
}

.item-detail {
    height: 169px;
    background-color: #007aff;
    color: #fff;
}

.item-detail dt {
    margin-top: 28px;
    height: 70px;
}

.item-detail .year_rate,
.item-detail .invest_time {
    margin: 13px 0;
    height: 143px;
    border-right: 1px solid #80bdff;
}

.year_rate,
.invest_time {
    display: inline-block;
}

.year_rate dt {
    text-align: center;
    font-size: 44px;
    line-height: 100%;
}

.year_rate dd {
    text-align: center;
    font-size: 14px;
    line-height: 100%;
}

.year_rate .int,
.year_rate .add_num {
    font-size: 44px;
}

.year_rate .float {
    font-size: 26px;
}

.invest_time dt {
    text-align: center;
    font-size: 44px;
    line-height: 100%;
}

.invest_time dd {
    text-align: center;
    font-size: 14px;
    line-height: 100%;
}

.item-detail .state {
    margin: 13px 0;
    height: 143px;
}

.item-detail .state dt {
    text-align: center;
    font-size: 44px;
    line-height: 100%;
}

.item-detail .state dd {
    text-align: center;
    font-size: 14px;
    line-height: 100%;
}


/*items*/

.items-list {
    background-color: #f5f5f5;
    padding: 8px 0;
}

.items-list-inner {
    width: 1038px;
    margin: 0 auto;
}

.items-list-inner li {
    display: inline-block;
    width: 286px;
    padding: 20px;
    height: 310px;
    margin: 8px;
    background-color: #fff;
    vertical-align: top;
}

.items-list-inner li:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.items-list-inner li>a {
    display: block;
}

.item-name {
    font-size: 16px;
    color: #1a1a1a;
    line-height: 20px;
    span {
        min-width: 20px;
        min-height: 20px;
        display: inline-block;
        vertical-align: top;
            margin-right: 3px;
    }
    .dan {
        background: url('../../images/home/item-icon.png') no-repeat 0 0;
    }
    .di {
        background: url('../../images/home/item-icon.png') no-repeat 0 -20px;
    }
    .liu {
        background: url('../../images/home/item-icon.png') no-repeat 0 -40px;
    }
    .xing {
        background: url('../../images/home/item-icon.png') no-repeat 0 -60px;
    }
    .miao {
        background: url('../../images/home/item-icon.png') no-repeat 0 -80px;
    }
    .jing {
        background: url('../../images/home/item-icon.png') no-repeat 0 -100px;
    }
}

.item-msg {
    margin: 66px 0;
}

.item-msg .year_rate {
    border-right: 1px solid #e6e6e6;
    padding-right: 24px;
}

.item-msg .invest_time {
    padding-left: 24px;
}

.item-msg dt {
    height: 70px;
    color: #017aff;
    font-weight: bold;
}

.progress {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #ccc;
}

.progress-go {
    display: block;
    width: 30%;
    height: 6px;
    border-radius: 3px;
    background-color: #017aff;
}

.progress-detail {
    height: 52px;
    font-size: 14px;
    line-height: 34px;
    color: #666;
}

.progress-width {
    float: left;
}

.money {
    float: right;
}

.item-state {
    height: 16px;
    font-size: 16px;
    color: #1a1a1a;
    line-height: 100%;
}

.item-state .state-key {
    float: left;
}

.item-state .state-value {
    float: right;
}


/*news*/

.new-list {
    width: 1024px;
    margin: 0 auto;
}

.slideTxtBox {
    display: inline-block;
    width: 240*3px;
}

.slideTxtBox .hd {
    height: 46px;
    line-height: 46px;
    position: relative;
    font-size: 20px;
    color: #1a1a1a;
}

.slideTxtBox .hd ul {
    float: left;
    position: absolute; // left: 20px;
    top: -1px;
    height: 32px;
    text-align: center;
}

.slideTxtBox .hd ul li {
    background-color: #f5f5f5;
    float: left;
    width: 234px;
    cursor: pointer;
    margin-right: 6px;
}

.slideTxtBox .hd ul li.on {
    height: 55px;
    background: url('../../images/home/home.png') no-repeat 0 0;
    color: #fff;
}

.slideTxtBox .bd ul {
    padding-top: 15px;
    zoom: 1;
    height: 141px;
    overflow: hidden;
}

.slideTxtBox .bd li {
    height: 46px;
    line-height: 46px;
    color: #1a1a1a;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.slideTxtBox .bd li .dat {
    float: left;
    margin-right: 20px;
}

.slideTxtBox .bd li a {
    color: #1a1a1a;
}

.slideTxtBox .more {
    text-align: right;
    font-size: 14px;
    line-height: 40px;
    a {
        color: #007aff;
    }
}

.new-list .img {
    float: right;
    width: 250px;
    img {
        margin-bottom: 10px;
    }
}


/*合作机构*/

.collaborate-list {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 244px;
    margin-bottom: 60px;
}

.collaborate-list a {
    display: block;
    width: 164px;
}

.company01 {
    position: absolute;
    height: 84px;
    top: 0;
    left: 0;
    background: url('../../images/home/home.png') no-repeat 0 -66px;
}

.company02 {
    position: absolute;
    height: 84px;
    top: 0;
    left: 221px;
    background: url('../../images/home/home.png') no-repeat 0 -150px;
}

.company03 {
    position: absolute;
    height: 84px;
    top: 0;
    left: 450px;
    background: url('../../images/home/home.png') no-repeat 0 -238px;
}

.company04 {
    position: absolute;
    height: 84px;
    top: 0;
    left: 682px;
    background: url('../../images/home/home.png') no-repeat 0 -321px;
}

.company05 {
    position: absolute;
    height: 45px;
    top: 27px;
    left: 889px;
    background: url(../../images/home/home.png) no-repeat 0 -405px;
}

.company06 {
    position: absolute;
    height: 50px;
    top: 133px;
    left: 81px;
    background: url('../../images/home/home.png') no-repeat 0 -447px;
}

.company07 {
    position: absolute;
    height: 43px;
    top: 140px;
    left: 330px;
    background: url(../../images/home/home.png) no-repeat 0 -496px;
}

.company08 {
    position: absolute;
    height: 47px;
    top: 137px;
    left: 545px;
    background: url(../../images/home/home.png) no-repeat 0 -538px;
}

.company09 {
    position: absolute;
    height: 47px;
    top: 135px;
    left: 773px;
    background: url(../../images/home/home.png) no-repeat 0 -585px;
}