.data-title{
    width: 400px;
    text-align: center;
    font-size: 24px;
    color: #343434;
    line-height: 100%;
    position: relative;
    margin: 32px auto 33px auto;
}
.data-title .data-icon{
    position: absolute;
    top: 3px;
    right:0;
}
.data-icon img{
    float: left;
    padding-right: 6px;
}
/*项目详情开始*/
.project-detail{
    background-color:#f5f5f5;
}
.project-detail-inner{
    width: 1024px;
    margin: 0 auto;
}
.project-detail{
    padding: 54px 0 40px 0;
}
.detail-left{
    float: left;
    border-right: 1px solid #d2d2d2;
}
.detail-data{
    padding-bottom: 50px;
}
.detail-data dl{
    float: left;
    padding-right: 98px;
}
.detail-data dl dt{
    font-size: 36px;
    color: #545454;
    padding-top: 18px;
    line-height: 100%;
}
.detail-data dl dd{
    font-size: 18px;
    color: #878787;
    padding-top: 20px;
    line-height: 100%;
    padding-bottom: 13px;
}
.money-data{
    height: 65px;
}
.money-data>div{
    float: left;
    padding-right: 40px;
    font-size: 14px;
    color: #797979;
}
/*进度条开始*/
.data-progress-long .bars{
    width:420px;
}
.bi-hor-topLeft .bi-label, .bi-hor-left .bi-label {
    float: right;
}
.bi-wrp.bi-default-theme .bi-bar{
    border-radius: 10px;
    margin-top: 5px;
}
.bi-wrp.bi-default-theme .bi-barInner {
    background-color: red;
    border-radius: 10px;
}
.data-progress-long .bi-label {
    padding-left: 10px;
    font-size: 18px;
    color: #a3a3a3;
}
/*进度条结束*/
.project-information{
    font-size: 14px;
    color: #545454;
    line-height: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
}
.invest-money{
    float: left;
    padding-left: 100px;
    position: relative;
}
.invest-title{
    padding-left: 100px;
    font-size: 24px;
    line-height: 64px;
    color: #000;
}
.money-information{
    padding-top: 20px;
    padding-bottom: 34px;
}
.money-information li{
    font-size: 14px;
    color: #545454;
    line-height: 30px;
}
.invest-money>p{
    font-size: 14px;
    color: #545454;
    line-height: 20px;
}
#money{
    width: 200px;
    height: 45px;
    float: left;
    padding: 0 10px;
    border-radius: 6px 0 0 6px;
    background-color: #e3e1e1;
}
.red-packet{
    float: left;
    width: 51px;
    height: 36px;
    border-radius: 0 6px 6px 0;
    padding:4px;
    background-color: #e3e1e1;
    box-shadow: -1px 0 3px rgba(0,0,0,0.2);
    position: relative;
}
.red-packet h3{
    width: 59px;
    height: 24px;
    position: absolute;
    left: 0;
    top:0;
    padding-top: 20px;
    font-size: 14px;
    color:#fdf54c;
    text-align: center;
    cursor: pointer;
}
.click-text{
    color: #df3121;
}

.invest-money input[type="button"]{
    width: 280px;
    height: 40px;
    background-color: #4cb0ae;
    color: #fff;
    border-radius: 6px;
    margin-top: 6px;
}

/*红包弹窗开始*/

.drop-down-packet{
    float: left;
    width: 51px;
    height: 36px;
    padding:4px;
    position: relative;
    margin-left: 25px;
}
.drop-down-packet h3{
    width: 59px;
    height: 24px;
    position: absolute;
    left: 0;
    top:0;
    padding-top: 20px;
    font-size: 14px;
    color:#fdf54c;
    text-align: center;
    cursor: pointer;
}
.xiala_hongbao{
    width:290px;
    border:1px solid #ccc;
    border-radius:10px;
    position:absolute;
    top:279px;
    right:-6px;
    z-index:1000;
    background:#fff;
    display: none;
}
.xiala_hongbao li{
    cursor:pointer;
}
.xiala_hongbao li:hover{
    background:#efefef;
}
.xiala_hongbao .biankuang{
    border-bottom:1px dotted #a0a0a0;
    padding:15px 10px 5px;
}
.xiala_hongbao .left{
    float:left;
    width:182px;
}
.xiala_hongbao .padleft .time{
    padding-left:16px;
}
.xiala_hongbao .left h2{
    float:left;
    font-size:24px;
    color:#df3121;
    line-height:26px;
    padding-right:18px;
    font-weight:bold;
}
.xiala_hongbao .left .time{
    font-size:12px;
    color:#333;
    line-height:14px;
}
.xiala_hongbao .p2{
    line-height:18px;
    font-size:12px;
    color:#666;
}
.xiala_hongbao .p3{
    text-align:center;
    line-height:38px;
    font-size:12px;
    color:#333;
    font-weight:bold;
}
.xiala_hongbao .jiantou_pic img{
    position:absolute;
    top:-6px;
    left:255px;
    z-index:5000;
}
.xiala_hongbao .last{
    border-radius:0 0 10px 10px;
}
.xiala_hongbao .first{
    border-radius:10px 10px 0 0;
}
/*红包弹窗结束*/
/*项目详情结束*/
/*invest开始*/
.invest{
    margin-top: 93px;
    margin-bottom: 100px;
}
.invest-list-bj{
    background-color: #f5f5f5;
    height: 57px;
}
.invest-list{
    width: 1024px;
    margin: 0 auto;
    height: 110px;
}
.invest-list li{
    height: 110px;
    float: left;
    margin-right: 20px;
}
.invest-list li a{
    display: block;
    font-size: 18px;
    color: #585858;
    line-height: 57px;
    width: 107px;
    height:110px;
    text-align: center;
}
.invest-active{
    background: url("../images/projec-list-bj.png") no-repeat center top;
}
.content-list>div{
    display: none;
}
#project-info{
    display: block;     /*显示*/
}
.content-list{
    width: 1024px;
    margin: 0 auto;
    padding-top: 70px;
}
.content-list dl{
    padding-bottom: 20px;
}
.content-list dt{
    font-size: 18px;
    color: #545454;
    font-weight: bold;
}
.content-list dd{
    font-size: 14px;
    color: #878787;
    line-height: 30px;
}
/*money-history开始*/
#money-history table{
    width: 1024px;
    font-size: 18px;
    color: #585858;
    text-align: center;
    line-height: 50px;
}
#money-history thead tr{
    background-color:#f5f5f5;
}
#money-history tr{
    border-bottom: 1px solid #999;
}
/*money-history结束*/
/*invest结束*/