$blue:#4cb0ae;
$block:#666;
$gray:#8d8b8b;
#main {
  background: #f5f5f5;
  padding-bottom: 100px;
}

.main_inner {
  width: 1024px;
  margin: 0 auto;
}
.banner{
  float: left;
}
.user_login{
  width: 229-35+px;
  height:337px;
  padding:0 17px;
  float: left;
  background: $blue;
}

.login_false{
  display: none;
  .top{
    padding-top:90px;
    padding-bottom: 83px;
    border-bottom: 1px solid #fff;
    a{
      display: block;
      width: 137px;
      height: 40px;
      background: #fff;
      text-align: center;
      font-weight: bold;
      outline:none;
      color: $blue;
      font-size: 18px;
      line-height: 39px;
      border-radius: 20px;
      margin:0 auto;
    }
  }
  .bottom{
    margin-top:32px;
    a{
      display: block;
      text-align: center;
      color: #fefefe;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
    }
  }
}
.login_true{
  .top{
    padding-top:50px;
    padding-bottom: 18px;
    border-bottom: 1px solid #fff;
  }
  .photo{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .user_id{
    text-align: center;
    font-size: 12px;
    color: #fefefe;
    padding-top:21px;
    padding-bottom:47px;
  }
  .user_num{
    .num{
      float: left;
      color: #fff;
      font-size: 14px;
      line-height: 100%;
      span{
        font-size: 24px;
        padding-right:10px;
      }
    }
    a{
      display: block;
      float: right;
      color: #fff;
      font-size: 14px;
      line-height: 100%;
    }
  }
  .bottom{
    margin-top:10px;
    a{
      display: block;
      text-align: center;
      color: #fefefe;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
    }
  }
}
.search{
  width: 750px;
  border: 1px solid #e3e3e3;
  padding: 16px;
  background: #fff;
  label{
    font-size: 14px;
    color:$block;
    line-height: 28px;
  }
  span{
    color: $block;
  }
  input[type=text]{
    width: 51px;
    padding:0 5px;
    height: 26px;
    font-size: 14px;
    color: $block;
    border:1px solid #e3e3e3;
  }
  input[type=button]{
    margin-left:47px;
    width: 63px;
    height: 28px;
    color: #fff;
    font-size: 14px;
    background: $blue;
    line-height: 26px;
    cursor: pointer;
  }
}
.commodity{
  border-left: 1px solid #e3e3e3;
  .list{
    float: left;
    overflow: hidden;
    background: #fff;
    a{
      display: block;
      padding:13px 17px;
      width: 260-17-17+px;
      height:277-13-13+px;
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
    }
  }
}
.list{
  .pic{
    width: 226px;
    height:173px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  dt{
    font-size: 14px;
    color: #666;
    line-height: 100%;
  }
  dd{
    font-size: 12px;
    line-height: 100%;
    padding-top: 8px;
    color: #8d8b8b;
  }
}
.list_num{
  margin-top: 15px;
  .num{
    float: left;
    font-size: 18px;
    line-height: 28px;
    color: $block;
    span{
      color: #f53030;
      padding-right:16px;
    }
  }
  button{
    float: right;
    width: 63px;
    height: 28px;
    color: #fff;
    font-size: 16px;
    background: #4cb0ae;
    line-height: 26px;
    cursor: pointer;
  }
}