@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
input,textarea,select{
	outline:none;
}
textarea{
	resize:none;
}
img{
	border:none;
}
.clear{
	clear:both;
}
body{
	font-family:Arial,"微软雅黑", Helvetica, sans-serif;
}
html,body{
	width:100%;
}
#main{
	background:#d4ecfb;
}
/*banner开始*/
#banner{
	height:949px;
	background:url(../images/banner.jpg) no-repeat center top;
}
/*ab文档计划开始*/
.jihua_text{
	background:#427ab7 url(../images/plantext_bj_01.jpg) no-repeat center top;
}
.plan_text{
	width:1010px;
	margin:0 auto;
}
.text_one{
	padding-bottom:20px;
}
.text_one h2{
	text-align:center;
	padding:30px 0;
	width:200px;
	height:40px;
	background:url(../images/text_bj.png) no-repeat center center;
	font-size:30px;
	line-height:40px;
	color:#e65f37;
}
.text_one p{
	font-size:24px;
	color:#dbd6d9;
	line-height:40px;
	padding-left:97px;
	text-indent:50px;
	letter-spacing:3px;
}
/*a计划开始*/
.section_a{
	/*height:1393px;*/
	background-image:url(../images/pic_02.png);
	background-size:cover;
}
.section_a .inner{
	width:60%;
	margin:0 auto;
	position:relative;
	height: 1393px;
}
.touzianniu{
	position: absolute;
	left:250px;
	bottom:540px;
}
/*a计划轮播*/
.plan_one{
	padding-top:20px;
	width:1350px;
	margin:0 auto;
	height:480px;
}
.plan_pic{
	height:480px;
	/*width:72.5%;
	margin-left:20.3%;*/
}
/*b计划开始*/
.section_b{
	height:1538px;
	background:url(../images/pic_04.png) no-repeat center top;
}
.section_b .inner{
	height:1534px;
	width:1010px;
	margin:0 auto;
	position:relative;
}
/*飞机按钮*/
.air_text{   
	width: 1010px;
    margin: 0 auto;
    padding-top: 80px;
	position:relative;
}
.air_one{
	float:right;
}
.air_text h3{
	position:absolute;
	top:223px;
	right:0;
	z-index:20;
}
.air_text h3 a{
	display:block;
	width:200px;
	height:58px;
	text-align:center;
	font-size:24px;
	color:#fff;
	line-height:58px;	
}
/*投资按钮开始*/
.button a{
	display:block;
	width:288px;
	height:74px;
	border-radius:37px;
	background:#e73733;
	text-align:center;
	font-size:30px;
	line-height:74px;
	color:#fff;
}
/*b计划投资按钮*/
.anniu_b{
	position: absolute;
	right:200px;
	bottom: 650px;
}
.anniu_b .button a{
	float:right;
}

/*b计划轮播图*/
.plan_two{
	height:480px;
	width:1350px;
	margin:0 auto;
	margin-bottom:30px;
	margin-top:20px;
}
/*说明文档*/
.shuoming{
	width:1010px;
	margin:0 auto;
	padding-top:67px;
	background:url(../images/plan_air.png) no-repeat top right;
	position:relative;
}
.title{
	width:200px;
	height:58px;
	background:url(../images/tebie_bj.png) no-repeat center center;
	color:#dbe3e9;
	font-size:30px;
	text-align:center;
	line-height:58px;
	margin-bottom:60px;
}
.shuoming .text{
	padding:0 12px 0 75px;
}
.shuoming .text li{
	font-size:24px;
	line-height:42px;
	color:#16537e;
}
.shuoming h3{
	position:absolute;
	top:144px;
	right:0;
	z-index:50;
}
.shuoming h3 a{
	display:block;
	width:200px;
	height:58px;
	text-align:center;
	font-size:24px;
	color:#fff;
	line-height:58px;	
}
.main_d img{
	width:100%;
	display:block;
}
/*轮播图里的文字*/
.box-con li{
	position:relative;
}
.box-con h3 a{
	display:block;
	width:100%;
	padding:6% 0;
	margin:36% 0;
	background:rgba(0,0,0,0.5);
	font-size:1.1em;
	color:#f0f0f0;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
}
.box-con h3 .span_one{
	font-size:24px;
	line-height:34px;
}
