@charset "utf-8";
 /*CSS Document*/ 
 
/*选中的导航样式*/
.nav_02 .zhanghao{
	color:#e1d373;
	background:url(../images/icon02_true.png) no-repeat 28px 60px;
}
.nav_02 .zhanghao{
	background-color:#40ace1;
}
.zhanghuchongzhi{
	background:rgba(0,0,0,0.3);
}
/*main*/
#main{
	background:#f5f6f7;
	padding-top:50px;
	padding-bottom:100px;
}

/*提示开始*/
.zhanghucongzhi{
	border:1px solid #cfcfcf;
	background:#fff;                   
}
.tishi{
	height:113px;
	background:#f8f2d6;
	position:relative;
}
.tishi .text_l{
	float:left;
	padding-left:106px;
}
.tishi .text_r{
	height:81px;
	width:231px;
	float: right;
	padding-top:32px;
}
.tishi .pic{
	position:absolute;
	top:24px;
	left:20px;
}
.tishi .text_l h2{
	font-size: 16px;
	color: #ff6600;
	line-height: 24px;
	padding-top: 17px;
	font-weight: bold;
}
.tishi .text_l p{
	font-size:14px;
	line-height:24px;
	color:#eb843f;
	padding-left:35px;
}
.tishi .text_l p span{
	color: #ff6600;
	font-weight: bold;
}
.tishi .text_r img{
	float:left;
	padding-top:5px;
	padding-right:18px;
}
.tishi .text_r h2{
	float:left;
	font-size:16px;
	color:#ff6600;
	line-height:24px;
	font-weight:bold;
}
.tishi .text_r h2 span{
	font-weight:normal;
	padding-left:36px;
}
/*选项卡开始*/
.xuanxiang{
	padding-top:50px;
}
.xuanxiang{
	height: 45px;
	width: 840px;
	padding-left: 100px;
	margin:0 auto;
	border-bottom: 1px solid #40ace1;
}
.xuanxiang a{
	margin-right:20px;
	width:158px;
	float:left;
	text-align:center;
	border:1px solid #d1d1d1;
	cursor:pointer;
	color:#999;
	font-size:16px;
	line-height:44px;
	border-bottom:none;
}
.xuanxiang .dangqian{                                   /* 切换的样式*/
	background:#40ace1;
	color:#fff;
}
/*选项卡01的内容*/
#list01{
	padding-top: 65px;
	padding-bottom: 90px;
}
.box{
	height: 40px;
	font-size: 16px;
	line-height: 30px;
	color: #333;
}
.box_l{
	width: 404px;
	float:left;
	text-align: right;
}
.box_r{
	width: 500px;
	float:left;
	text-align: left;
}
form>div{
	height: 50px;
}
#list01 select{
	 font-family:"微软雅黑";
	 font-size:16px;
	 color:#666;
	 border:1px solid #c6c6c6;
	 border-radius:4px;
	 height:32px;
 }
#list01 form{
	font-size: 16px;
	color: #333;
}
#list01 input{
	padding:0 10px;
	width:133px;
	height:30px;
	border:1px solid #c6c6c6;
	border-radius:4px;
}
#list01 #auth_code{
	width:55px;
	float: left;
	border-radius: 4px 0 0 4px;
}
.code_pic{
	float:left;
	width:76px;
	height:30px;
	border:1px solid #c6c6c6;
	border-radius:0 4px 4px 0;
	border-left:none;
	text-align:center;
	cursor: pointer;
}
.code_pic img{
	height: 30px;
}
#list01 select{
	 font-size:16px;
	 color:#000;
	 margin-top:9px;
	 border:1px solid #c6c6c6;
	 border-radius:4px;
	 width:253px;
	 height:28px;
	 margin-left:20px;
}
#list01 form{
	margin-top: 13px;
	font-size: 16px;
	color: #333;
}
.chongzhifangshi{
	height:46px;
}
.chongzhifangshi .fangshi{
	float:left;
}
.chongzhifangshi li{
	margin-right:10px;
	float:left;
	width:78px;
	background:#fff;
	border:1px solid #bdbdbd;
	font-size:14px;
	line-height:23px;
	text-align:center;
	color:#666;
	cursor:pointer;
}
.fangshi .dangqian02{        /*样式切换*/
	background:#40ace1;
	border:1px solid #1d7aa7;
	color:#fff;
}
.submit_yes{
	font-family:"微软雅黑";
	width: 95px;
	height: 30px;
	border-radius: 4px;
	background: #40ace1;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border: none;
	cursor:pointer;
}
.submit_yes:hover{
	background:#FF7F00;
}
/*选项卡02的内容*/
#list02{
	display:none;                   /*           隐  藏   */
}
#list02 table{
	border-collapse: collapse;
	border-spacing: 0;
	width:940px;
	margin:0 auto;
}
#list02 thead tr{
	height:44px;
	width:940px;
	margin:0 auto;
	background:#40ace1;
	border-bottom:1px solid #ccc;
}
#list02 thead td{
	width:14.28%;
	text-align:center;
	font-size:16px;
	color:#fff;
}
#list02 tbody tr{
	height:53px;
	border-bottom:1px solid #ccc;
}
#list02 .bgcolor_two{
	background:#efefef;
}
#list02 tbody td{
	text-align:center;
	font-size:12px;
	color:#666;
}
#list02 tbody .leixin{
	color:#269d30;
}
#list02 tbody .money{
	color:#40ace1;
}
#list02 tbody .condition_f{             /*充值失败的样式*/
	color:#ff6600;
}
#list02 tbody .condition_t{
	color:#666;
}
/*下一页开始*/
.xiayiye{
	width:605px;
	margin:0 auto;
	padding-bottom:40px;
	padding-top:50px; 
	height:30px;
}
.xiayiye a{
	display:block;
	color:#666666;
	line-height:30px;
	font-size:16px;
}
.xiayiye li{
	float:left;
	color:#666666;
	line-height:30px;
	font-size:16px;
	padding-right:5px;
}
.xiayiye .one{
	color:#484848;
}
.xiayiye .shuru{
	padding:0 6px;
	width:18px;
	height:23px;
	border:1px solid #bdbdbd;
	border-radius:4px;
	margin:3px 13px 3px 9px;
}
.xiayiye .last{
	text-align:center;
	width:73px;
	height:28px;
	margin-left:17px;
	border:1px solid #bdbdbd;
	border-radius:4px;
	background:#40ace1;
	color:#fff;
	cursor:pointer;
}
.xiayiye .last:hover{
	background:#FF7F00;
	border:1px solid #bdbdbd;
}