@charset "utf-8";
 /*CSS Document*/

/*选中的导航样式*/
.nav_02 .shezhi{
	color:#e1d373;
	background:url(../images/icon04_true.png) no-repeat 28px 60px;
}
.nav_02 .shezhi{
	background-color:#40ace1;
}
.invite_friend{
	background:rgba(0,0,0,0.3);
}
#main{
	background:#f5f6f7;
	padding-top:50px;
	padding-bottom:100px;
}
/*提示开始*/
.tixian{
	border:1px solid #cfcfcf;
	background:#fff;
}
.tishi{
	height:113px;
	background:#f8f2d6;
	position:relative;
}
.tishi .text_l{
	float:left;
	padding-left:106px;
}
.tishi .text_r{
	height:81px;
	width:231px;
	float: right;
	padding-top:32px;
}
.tishi .pic{
	position:absolute;
	top:24px;
	left:20px;
}
.tishi .text_l h2{
	font-size: 16px;
	color: #ff6600;
	line-height: 24px;
	padding-top: 30px;
	font-weight: bold;
}
.tishi .text_l p{
	font-size:14px;
	line-height:24px;
	padding-left:35px;
	color: #ff6600;
	font-weight: bold;
}
/*提示结束*/
/*选项卡开始*/
.xuanxiang{
	height: 45px;
	width: 840px;
	padding-left: 100px;
	margin:0 auto;
	border-bottom: 1px solid #40ace1;
	padding-top:50px;
}
.xuanxiang  li a{
	margin-right:20px;
	width:158px;
	float:left;
	text-align:center;
	border:1px solid #d1d1d1;
	cursor:pointer;
	color:#999;
	font-size:16px;
	line-height:44px;
	border-bottom:none;
}
/*选项卡结束*/
/*选卡1内容开始*/
.neirong{
	width:978px;
}
#list01{
	padding:77px 0 98px 232px;
}
#list01 p{
	font-size:16px;
	color:#999;
	line-height:100%;
	padding-bottom:30px;
}
#list01 h3{
	float:left;
	font-size:16px;
	color:#333;
	line-height:30px;
}
#list01 input{
	float:left;
	width:295px;
	padding:0 10px;
	border:1px solid #c6c6c6;
	border-right:none;
	border-radius:4px 0 0 4px;
	font-size:14px;
	color:#666;
	line-height:28px;
}
#list01 button{
	float:left;
	width:79px;
	height:30px;
	color:#fff;
	font-size:14px;
	border:none;
	border-radius:0 4px 4px 0;
	background:#40ace1;
}
/*选卡1内容结束*/
/*选项2内容开始*/
#list02{
	padding:77px 0 98px 120px;
}
#list02 table{
	width:732px;
	font-size:14px;
	border-collapse: collapse;
    border-spacing: 0;
	text-align:center;
}
#list02 table tr{
	height:45px;
}
#list02 thead{
	background:#40ace1;
	color:#fff;
}
#list02 tbody tr{
	border-bottom:1px solid #d1d1d1;
	color:#999;
}
/*选卡2内容结束*/

/*动效样式开始*/
.xuanxiang .dangqian{
	background:#40ace1;
	color:#fff;
}
.neirong>div{
	display:none;
}
#list01{
	display:block;
}
/*动效样式结束*/
