@font-face {
	font-family: 'Conv_LCDN';
	src: url('../fonts/LCDN/LCDN.eot');
	src:url('../fonts/LCDN/LCDN.ttf'), url('../fonts/LCDN/LCDN.woff'), url('../fonts/LCDN/LCDN.svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fzxs12regular';
	src: url('../fonts/FangZhen/12.woff2') format('woff2'),
	url('../fonts/FangZhen/12.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
#main{
	height:1581-667px;
	padding-top:667px;
	background:url("../images/risk_submit_bj.jpg") no-repeat center top;
	font-family: 'fzxs12regular',"Microsoft YaHei";
}

.result_total{
	width:1249px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-position:center top;
	color:#fffbd3;
	height:778px;
	background-image:url("../images/risk_submit_txt.png");
}
.result_total{
	.title{
		text-align: center;
		line-height: 100%;
		padding-top: 80px;
		font-size: 24px;

	}
}
#grade_num{
	font-family: 'Conv_LCDN',"Microsoft YaHei";
	font-size: 264px;
	line-height: 100%;
	text-align: center;
}
#grade_txt{
	h2{
		padding-bottom:33px;
		text-align: center;
		font-size: 40px;
		line-height: 100%;
	}
	p{
		padding-left:535px;
		line-height: 50px;
		font-size: 18px;
	}
}
.explain{
	width: 890px;
	margin: 0 auto;
	line-height: 32px;
	padding-top:20px;
	font-size: 18px;
	text-indent: 36px;
}
