@font-face {
	font-family: 'fzxs12regular';
	src: url('../fonts/FangZhen/12.woff2') format('woff2'),
	url('../fonts/FangZhen/12.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
#main{
	height:6134px;
	background:url("../images/bj.jpg") no-repeat center top;
	font-family: 'fzxs12regular',"Microsoft YaHei";
}
.list_total{
	padding-top:667px;
}

.list{
	width:1249px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-position:center top;
	color:#fffbd3;
	font-size:18px;
	h2{
		font-size:24px;
		text-align:center;
		padding-top:80px;
		padding-bottom:20px;
		text-shadow: 0 0 10px #f0ecc7;
	}
	label{
		display:block;
		cursor:pointer;
	}
}
.list01{
	height:254px;
	background-image:url("../images/list01.png");
	p{
		padding-top:83px;
		line-height:30px;
		text-indent:36px;
		width:1083px;
		margin:0 auto;
	}
}
.list02{
	height:932px;
	background-image:url("../images/list02.png");

}
.list03{
	height:1585px;
	background-image:url("../images/list03.png");
}
.list04{
	height:676px;
	background-image:url("../images/list04.png");
}
.list05{
	height:1881px;
	background-image:url("../images/list05.png");
}
.question{
	padding-top:30px;
	p{
		line-height:30px;
		padding-bottom:15px;
		width:883px;
	}
}
.question-total{
	padding-left:205px;
}
input[type="radio"]{
	float:left;
	width:0;
	height:0;
	visibility:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.choice{
	padding-left:10px;
}
.choice_pic{
	width:10px;
	height:10px;
	border-radius:50%;
	border:2px solid #e9eccb;
	background-color:#0c8ca7;
	box-shadow:0 0 6px  #e9eccb;
	float:left;
	margin-right:7px;
	margin-top:17px;
	.choice_true{
		width:6px;
		height:6px;
		border-radius:50%;
		background-color:#e9eccb;
		border:2px solid #0c8ca7;
		margin:0 auto;
		display:none;	/*隐藏选中效果*/
	}
}

.option_one_line .option_item{
	float:left;
	width:180px;
}
.option_text{
	float:left;
	line-height:50px;
	max-width: 860px;
}
.submit_btn a{
	float: right;
	margin-top: 16px;
	margin-right: 245px;
	display: block;
	width: 245px;
	height:118px;
	background-image: url("../images/button.png");
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 30px;
	line-height: 118px;
	color: #cdcaaa;
	text-align: center;
	&:active{
		background-image: url("../images/button_click.png");
	}
}
