.risk_popup_box {
    display: none;
}

.risk_popup {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.risk_popup_content {
    position: absolute;
    z-index: 200;
    top: 100px;
    width: 1024px;
    height: 563px;
    text-align: center;
    background: url('../images/risk_popup.png') no-repeat center center;
}

.back_bj {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.popup_btn {
    position: absolute;
    bottom: 100px;
    left: 0;
}

.risk_popup_content a {
    line-height: 36px;
    display: inline-block;
    width: 154px;
    height: 36px;
    margin-top: 465px;
    color: #d8d4b3;
    border: 1px solid #0f0f2f;
    border-radius: 4px;
}