/*header-start*/
html {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #f9f9f9; }

.clear {
  clear: both; }

#header {
  width: 100%;
  background-color: #4cb0ae;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

[data-dpr="1"] #header {
  height: 44px; }

[data-dpr="2"] #header {
  height: 88px; }

[data-dpr="3"] #header {
  height: 132px; }

.nav-side {
  position: absolute;
  height: inherit;
  left: 0;
  top: 0; }
  .nav-side img {
    height: 100%;
    width: auto; }

.nav-title {
  text-align: center;
  color: #fff; }

[data-dpr="1"] .nav-title {
  font-size: 18px;
  line-height: 44px; }

[data-dpr="2"] .nav-title {
  font-size: 36px;
  line-height: 88px; }

[data-dpr="3"] .nav-title {
  font-size: 54px;
  line-height: 132px; }

.my {
  position: absolute;
  height: inherit;
  right: 0;
  top: 0; }
  .my img {
    height: 100%;
    width: auto; }

/*header-end*/
/*tab-side-start */
#tab-side {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 30;
  display: none; }

.close-side {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #B5B5B5;
  z-index: 31;
  text-align: center;
  padding-top: 50%; }

[data-dpr="1"] .close-side span {
  font-size: 16px; }
[data-dpr="2"] .close-side span {
  font-size: 32px; }
[data-dpr="3"] .close-side span {
  font-size: 48px; }

[data-dpr="1"] .close-side .fa-angle-double-left {
  font-size: 14px; }
[data-dpr="2"] .close-side .fa-angle-double-left {
  font-size: 28px; }
[data-dpr="3"] .close-side .fa-angle-double-left {
  font-size: 42px; }

.side-content {
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #262626;
  z-index: 33;
  left: -6.65625rem; }

.diy-pic {
  padding-top: 0.90625rem;
  padding-bottom: 0.546875rem; }

.my-photo {
  width: 1.78125rem;
  height: 1.78125rem;
  border-radius: 50%;
  float: left;
  padding-left: 0.671875rem; }
  .my-photo img {
    width: 1.78125rem;
    height: 1.78125rem;
    border-radius: 50%; }

.welcome-text {
  float: left;
  padding-left: 0.46875rem;
  color: #c7c7c7;
  line-height: 0.75rem;
  padding-top: 0.15625rem; }
  [data-dpr="1"] .welcome-text {
    font-size: 16px; }
  [data-dpr="2"] .welcome-text {
    font-size: 32px; }
  [data-dpr="3"] .welcome-text {
    font-size: 48px; }

.tab-list li {
  padding-left: 0.46875rem;
  border-bottom: 1px solid #313131; }
  .tab-list li:last-child {
    border-bottom: none; }
  .tab-list li a {
    display: block;
    text-decoration: none; }
  .tab-list li img {
    float: left;
    height: 1.578125rem;
    width: auto;
    padding-right: 0.28125rem; }
  .tab-list li span {
    line-height: 1.578125rem;
    color: #c7c7c7; }

[data-dpr="1"] .tab-list span {
  font-size: 16px; }
[data-dpr="2"] .tab-list span {
  font-size: 32px; }
[data-dpr="3"] .tab-list span {
  font-size: 48px; }

/*tab-side-end*/
/*wrapper-start*/
#wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9; }

[data-dpr="1"] #wrapper {
  padding-top: 44px; }

[data-dpr="2"] #wrapper {
  padding-top: 88px; }

[data-dpr="3"] #wrapper {
  padding-top: 132px; }

.help-list li {
  background-color: #fff;
  margin-bottom: 0.15625rem; }
  .help-list li a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; }
  .help-list li img {
    float: left;
    height: 2.46875rem;
    width: auto; }
  .help-list li span {
    line-height: 2.46875rem;
    color: #76787d; }
  .help-list li:active {
    background-color: #f9f9f9; }

[data-dpr="1"] .help-list li span {
  font-size: 18px; }
[data-dpr="2"] .help-list li span {
  font-size: 36px; }
[data-dpr="3"] .help-list li span {
  font-size: 54px; }

/*wrapper-end*/

/*# sourceMappingURL=style-help.css.map */
