@charset "UTF-8";

//px转rem
@mixin px2rem($property,$px-values,$baseline-px,$support-for-ie:false) {
  //Conver the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  //Print the first line in pixel values
  @if $support-for-ie {
    #{$property}: $px-values;
  }
  //if there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem;
  } @else {
    //Create an empty list that we can dump values into
    $rem-values: ();
    @each $value in $px-values {
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of($value) != "number" {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    // Return the property and its list of converted values
    #{$property}: $rem-values;
  }
}

$background: #f9f9f9;
$blue: #4cb0ae; //蓝色
$red: #f53030; //红色
$normal: #76787d; //正常字体
$gray: #adb2bf; //辅助字体
$title-font:#56575b;//标题字体
$border: 1px solid #ddd; //边框
/*字体设置开始*/
@mixin font-dpr($font-size){
  [data-dpr="1"] &{
    font-size: $font-size/2;
  }

  [data-dpr="2"] & {
    font-size: $font-size;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 1.5;
  }
}
/*字体设置结束*/
/*          整体结构开始          */
#header {
  width: 100%;
  background-color: $blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: $border;
}

[data-dpr="1"] #header {
  height: (88px/2);
}

[data-dpr="2"] #header {
  height: (88px);
}

[data-dpr="3"] #header {
  height: (88px*1.5);
}

#wrapper {
  width: 100%;
  overflow: hidden;
  background: $background;
}

[data-dpr="1"] #wrapper {
  padding-top: (88px/2);
  padding-bottom: (100px/2);
}

[data-dpr="2"] #wrapper {
  padding-top: 88px;
  padding-bottom: 100px;
}

[data-dpr="3"] #wrapper {
  padding-top: (88px*1.5);
  padding-bottom: (100px*1.5);
}

#footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border-top: $border;
  background-color: #fff;
}

[data-dpr="1"] #footer {
  height: (100px/2);
}

[data-dpr="2"] #footer {
  height: 100px;
}

[data-dpr="3"] #footer {
  height: (100px*1.5);
}

/*          整体结构结束          */
/*header开始*/
html {
  height: 100%;
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100%;
  background-color: #f9f9f9;
}

#header {
  width: 100%;
  background-color: #4cb0ae;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}

[data-dpr="1"] #header {
  height: 44px;
}

[data-dpr="2"] #header {
  height: 88px;
}

[data-dpr="3"] #header {
  height: 132px;
}

.nav-return {
  position: absolute;
  height: inherit;
  left: 0;
  top: 0;
}
.nav-return a{
  height: inherit;
  display: block;
}
.nav-return a:active{
  background: #419695;
}
.nav-return img {
  height: 100%;
  width: auto;
}

.nav-title {
  text-align: center;
  color: #fff;
}

[data-dpr="1"] .nav-title {
  font-size: 18px;
  line-height: 44px;
}

[data-dpr="2"] .nav-title {
  font-size: 36px;
  line-height: 88px;
}

[data-dpr="3"] .nav-title {
  font-size: 54px;
  line-height: 132px;
}

/*header结束*/
/*progress-data开始*/
.progress-data {
  text-align: center;
  @include px2rem(padding-top, 58px, 64px, false);
  position: relative;
  border-bottom: $border;
  background: #fff;
  .information {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    p {
      @include px2rem(padding-top, 160px, 64px, false);
      @include px2rem(font-size, 20px, 64px, false);
      line-height: 100%;
    }
    span {
      color: $red;
      @include px2rem(font-size, 72px, 64px, false);
      @include px2rem(line-height, 94px, 64px, false);
    }
  }
  .project-list {
    @include px2rem(padding-bottom, 20px, 64px, false);
    @include px2rem(padding-top, 40px, 64px, false);
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    .flex-box{
      -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1; /* OLD - Firefox 19- */
      -webkit-flex: 1; /* Chrome */
      -ms-flex: 1; /* IE 10 */
      flex: 1;
      color: $normal;
      @include px2rem(line-height, 30px, 64px, false);
      span {
        color: $red;
      }
    }
    .time {
      border: {
        left: $border;
        right: $border;
      }
    }
  }
}
.project-list .flex-box{
  @include font-dpr(24px);
}
.progress-data .name {
  color: $normal;
  @include px2rem(line-height, 56px, 64px, false);
  @include px2rem(padding-top, 20px, 64px, false);
  @include font-dpr(28px);
}
.progress-data  .number {
  color: $gray;
  line-height: 100%;
  @include font-dpr(20px);
}
/*progress-data结束*/

/* tabBox开始 */
.tabBox {
  @include px2rem(margin-top,20px,64px,false);
  background-color: #fff;
  .hd {
    outline: $border;
    ul {
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      box-sizing: border-box;
      li {
        color: $normal;
        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        flex: 1;
        text-align: center;
        @include px2rem(line-height,50px,64px,false);
        &:first-child a{
          border-right: $border;
        }
        a{
          display: block;
          @include px2rem(margin-top,15px,64px,false);
          @include px2rem(margin-bottom,10px,64px,false);
          text-decoration: none;
        }
      }
      .on {
        border-bottom: 5px solid #{$blue};
      }
    }
  }
}
.tabBox .hd a{
  @include font-dpr(24px);
}
.tabBox .bd {
  .list{
    width: 96%;
    margin: 0 auto;
    border-bottom: $border;
    .title{
      color: $title-font;
      line-height: 100%;
      @include px2rem(padding-top,18px,64px,false);
    }
    p{
      color: $normal;
      @include px2rem(padding-top,22px,64px,false);
      @include px2rem(padding-bottom,22px,64px,false);
      @include px2rem(line-height,32px,64px,false);
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}
.list .title{
  @include font-dpr(24px);
}
.list p{
  @include font-dpr(20px);
}
#footer{
  .left{
    width: 65%;
    float: left;
    padding-left: 3%;
  }
  .right{
    float: right;
    width: 32%;
    background-color: $blue;
  }
}
#footer label{
  float: left;
  color: $blue;
  @include font-dpr(30px);
  @include px2rem(width,140px,64px,false);
}
[data-dpr="1"] #footer label {
  line-height: (100px/2);
}

[data-dpr="2"] #footer label {
  line-height: 100px;
}

[data-dpr="3"] #footer label {
  line-height: (100px*1.5);
}
#footer input{
  float: right;
  @include font-dpr(24px);
  color: $normal;
  line-height: 100%;
  border: none;
  outline: none;
  width: 60%;
}
[data-dpr="1"] #footer input{
  padding:18px 3%;
}
[data-dpr="2"] #footer input{
  padding:36px 3%;
}
[data-dpr="3"] #footer input{
  padding:(18*3px) 3%;
}

#footer .right{
  color: #fff;
  text-align: center;
  @include font-dpr(30px);
  &:active{
    background-color: #419695;
  }
}
[data-dpr="1"] #footer .right {
  line-height: (100px/2);
}

[data-dpr="2"] #footer .right {
  line-height: 100px;
}

[data-dpr="3"] #footer .right {
  line-height: (100px*1.5);
}
/*table-start*/
table{
  width: 100%;
  text-align: center;
  @include px2rem(line-height,60px,64px,false);
  @include font-dpr(20px);
  color: $normal;
  tr{
    border-bottom:$border;
  }
  th{
    text-align: center;
  }
  thead{
    background-color: #f6f6f6;
    border-top: $border;
  }
}
/*table-end*/