@charset "UTF-8";
//px转rem
@mixin px2rem($property,$px-values,$baseline-px,$support-for-ie:false) {
  //Conver the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  //Print the first line in pixel values
  @if $support-for-ie {
    #{$property}: $px-values;
  }
  //if there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem;
  } @else {
    //Create an empty list that we can dump values into
    $rem-values: ();
    @each $value in $px-values {
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of($value) != "number" {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    // Return the property and its list of converted values
    #{$property}: $rem-values;
  }
}

$background: #f9f9f9;
$blue: #4cb0ae; //蓝色
$red: #f53030; //红色
$normal: #76787d; //正常字体
$gray: #adb2bf; //辅助字体
$title-font:#56575b;//标题字体
$border: 1px solid #ddd; //边框
/*字体设置开始*/
@mixin font-dpr($font-size){
  [data-dpr="1"] &{
    font-size: $font-size/2;
  }

  [data-dpr="2"] & {
    font-size: $font-size;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 1.5;
  }
}
/*字体设置结束*/
html {
  width: 100%;
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f9f9f9;
}
.clear{
  clear: both;
}
#wrapper{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.nav-return {
  position: absolute;
  left: 0;
  top: 0;
}
.nav-return a{
  display: block;
  //@include px2rem(height,88px,64px,false);
}
[data-dpr="1"] .nav-return a{
  height:(88px/2);
}
[data-dpr="2"] .nav-return a{
  height:88px;
}
[data-dpr="3"] .nav-return a{
  height:(88px*1.5);
}

.nav-return a:active{
  background: #419695;
}
.nav-return img {
  height: 100%;
  width: auto;
}
.user-top{
  width: 100%;
  background: url("../images/user/user-bj.jpg") no-repeat center top;
  border-bottom: $border;
  background-size: 100% 100%;
}
.user-bottom{
  width: 100%;
  //height: 44%;
  background-color: #fff;
}
.name-photo{
  @include px2rem(padding-top,67px,64px,false);
  text-align: center;
  img{
    @include px2rem(width,130px,64px,false);
    @include px2rem(height,130px,64px,false);
    border-radius: 50%;
  }
  .name{
    @include font-dpr(24px);
    color: #fff;
    @include px2rem(line-height,60px,64px,false)
  }
}
.get-money{
  text-align: center;
  color: #fff;
  @include font-dpr(20px);
  @include px2rem(line-height,30px,64px,false);
  span{
    @include font-dpr(72px);
    line-height: 100%;
  }
  @include px2rem(padding-top,46px,64px,false);
  @include px2rem(padding-bottom,28px,64px,false);
}

.top-list02{
  //height: 30%;
  .data-list{
    width: 100%;
    //height: 49%;
    @include px2rem(height,92px,64px,false);
    border-top:1px solid #60bdbc;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .data-part{
    text-align: center;
    height: 100%;
    width: 50%;
    @include font-dpr(20px);
    color: #fff;
    @include px2rem(line-height,40px,64px,false);
    span{
      @include font-dpr(24px);
    }
  }
  .border-data{
    border-right: 1px solid #60bdbc;
  }
  p{
    @include px2rem(padding-top,10px,64px,false);
  }
}
.button-invest{
  width: 96%;
  //height: 20%;
  @include px2rem(height,100px,64px,false);
  margin: 0 auto;
  .left-btn{
    float: left;
    background-color: $blue;
    @include px2rem(margin-top,15px,64px,false);
    a{
      color: #fff;
    }
  }
  .right-btn{
    float: right;
    background-color: #fff;
    @include px2rem(margin-top,15px,64px,false);
    a{
      color: $blue;
    }
  }
  .btn {
    @include px2rem(border-radius,31px,64px,false);
    border: 2px solid #{$blue};
    a{
      @include px2rem(border-radius,31px,64px,false);
      display: block;
      @include px2rem(width,294px,64px,false);
      @include px2rem(height,63px,64px,false);
      text-align: center;
      @include px2rem(line-height,63px,64px,false);
      @include font-dpr(28px);
      text-decoration: none;
    }
  }
}
.user-content{
  //height: 80%;
  width: 100%;
  //overflow: hidden;
  border-bottom: $border;
  a{
    display: block;
    text-decoration: none;
  }
  .content-list-box{
    height:50%;
    border-top: $border;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
  }
  .content-list{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex:1 ;
    flex: 1;
    text-align: center;
  }
  .border-user-content{
    border-right: $border;
    border-left: $border;
  }
}
.content-list{
  span{
    @include font-dpr(24px);
    @include px2rem(line-height,80px,64px,false);
    color: $normal;
  }
  img{
    display: inline-block;
    @include px2rem(height,57px,64px,false);
    width: auto;
    @include px2rem(margin-top,45px,64px,false);
  }
}
.content-list:active{
  background-color: #f9f9f9;
}