@charset "UTF-8";
/*字体设置开始*/
/*字体设置结束*/
/*header-start*/
html {
  height: 100%;
  width: 100%;
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  /*flex布局,主流浏览器都支持,可能在少数不支持*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }

.clear {
  clear: both; }

#header {
  width: 100%;
  background-color: #4cb0ae;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

[data-dpr="1"] #header {
  height: 44px; }

[data-dpr="2"] #header {
  height: 88px; }

[data-dpr="3"] #header {
  height: 132px; }

#wrapper {
  width: 100%; }

[data-dpr="1"] #wrapper {
  padding-top: 44px; }

[data-dpr="2"] #wrapper {
  padding-top: 88px; }

[data-dpr="3"] #wrapper {
  padding-top: 132px; }

.nav-return {
  position: absolute;
  height: inherit;
  left: 0;
  top: 0; }

.nav-return a {
  height: inherit;
  display: block; }

.nav-return a:active {
  background: #419695; }

.nav-return img {
  height: 100%;
  width: auto; }

.nav-title {
  text-align: center;
  color: #fff; }

[data-dpr="1"] .nav-title {
  font-size: 18px;
  line-height: 44px; }

[data-dpr="2"] .nav-title {
  font-size: 36px;
  line-height: 88px; }

[data-dpr="3"] .nav-title {
  font-size: 54px;
  line-height: 132px; }

/*header-end*/
/*wrapper-start*/
.color1 {
  background: #d95a6c;
  background: -webkit-linear-gradient(top, #f56c90, #c64e55); }

.color2 {
  background: #d95a6c;
  background: -webkit-linear-gradient(top, #43c4d0, #00b79a); }

.color3 {
  background: #d95a6c;
  background: -webkit-linear-gradient(top, #576eb3, #0264af); }

.card-group {
  padding-top: 0.3125rem; }

.card-list {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3125rem;
  height: 3.125rem;
  padding-top: 0.46875rem;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem; }
  .card-list .bank-pic {
    float: left;
    height: 0.96875rem;
    width: 0.96875rem;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 0.46875rem; }
    .card-list .bank-pic img {
      width: 100%;
      height: 100%; }
  .card-list .bank-information {
    float: left;
    margin-left: 0.46875rem; }
    .card-list .bank-information .bank-name {
      color: #fff; }
      [data-dpr="1"] .card-list .bank-information .bank-name {
        font-size: 18px; }
      [data-dpr="2"] .card-list .bank-information .bank-name {
        font-size: 36px; }
      [data-dpr="3"] .card-list .bank-information .bank-name {
        font-size: 54px; }
    .card-list .bank-information .bank-style {
      color: #fff;
      line-height: 0.65625rem; }
      [data-dpr="1"] .card-list .bank-information .bank-style {
        font-size: 12px; }
      [data-dpr="2"] .card-list .bank-information .bank-style {
        font-size: 24px; }
      [data-dpr="3"] .card-list .bank-information .bank-style {
        font-size: 36px; }
    .card-list .bank-information .bank-number {
      color: #fff;
      padding-top: 0.65625rem; }
      [data-dpr="1"] .card-list .bank-information .bank-number {
        font-size: 18px; }
      [data-dpr="2"] .card-list .bank-information .bank-number {
        font-size: 36px; }
      [data-dpr="3"] .card-list .bank-information .bank-number {
        font-size: 54px; }
  .card-list .status {
    float: right;
    margin-right: 0.46875rem; }
    .card-list .status a {
      display: block;
      color: #fff;
      text-decoration: none; }
      [data-dpr="1"] .card-list .status a {
        font-size: 12px; }
      [data-dpr="2"] .card-list .status a {
        font-size: 24px; }
      [data-dpr="3"] .card-list .status a {
        font-size: 36px; }

.add-card {
  width: 94%;
  margin: 0 auto; }
  .add-card a {
    display: block;
    background: #ebebeb;
    border: 1px dashed #ccc;
    text-align: center;
    color: #d1d1d1;
    line-height: 1.375rem; }
    [data-dpr="1"] .add-card a {
      font-size: 18px; }
    [data-dpr="2"] .add-card a {
      font-size: 36px; }
    [data-dpr="3"] .add-card a {
      font-size: 54px; }

/*popup-start*/
.popup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.popup-content {
  width: 6.25rem;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  /*-webkit-transform:translateY(40%);*/
  position: absolute;
  left: 1.76563rem;
  top: 40%;
  z-index: 10000; }
  .popup-content .sure {
    color: #76787d;
    line-height: 2.5rem; }
    [data-dpr="1"] .popup-content .sure {
      font-size: 18px; }
    [data-dpr="2"] .popup-content .sure {
      font-size: 36px; }
    [data-dpr="3"] .popup-content .sure {
      font-size: 54px; }
  .popup-content .choice {
    border-top: 1px solid #ddd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    line-height: 0.9375rem; }
    [data-dpr="1"] .popup-content .choice {
      font-size: 12px; }
    [data-dpr="2"] .popup-content .choice {
      font-size: 24px; }
    [data-dpr="3"] .popup-content .choice {
      font-size: 36px; }
  .popup-content .yes {
    border-right: 1px solid #ddd; }
    .popup-content .yes a {
      display: block;
      color: #76787d;
      text-decoration: none; }
      .popup-content .yes a:active {
        background-color: #f9f9f9; }
  .popup-content .yes, .popup-content .no {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    color: #76787d; }

/*popup-end*/
/*wrapper-end*/

/*# sourceMappingURL=style-user-bank_card.css.map */
