@charset "utf-8";
/*公共代码开始*/
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
    border: none
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    -webkit-text-size-adjust: none
}

li {
    list-style: none
}

img {
    border: none;
    text-decoration: none;
    display: block
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

a {
    text-decoration: none
}

a img, :link img, :visited img {
    border: 0
}

input, textarea, select {
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea {
    resize: none
}

.clear {
    clear: both
}

a, button, input { /*去掉手持设备点击是出现的透明层*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*去掉点击时候的透明层*/
    -webkit-tap-highlight-color: transparent;
}

input { /*去掉input在ios下的默认效果*/
    resize: none; /*禁止调整元素的尺寸*/
    -webkit-appearance: none;
    background: none;
}

button { /*去掉button在ios上的默认样式*/
    -webkit-appearance: none;
    border-radius: 0
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { /*阻止旋转屏幕时自动调整字体大小*/
    -webkit-text-size-adjust: 100%;
}

element::-webkit-scrollbar { /*去掉webkit的滚动条*/
    display: none;
}

/*公共代码结束*/
/*header开始*/

html {
    height: 100%;
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    background-color: #f9f9f9;
}

#header {
    width: 100%;
    background-color: #4cb0ae;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

[data-dpr="1"] #header {
    height: 44px;
}

[data-dpr="2"] #header {
    height: 88px;
}

[data-dpr="3"] #header {
    height: 132px;
}

.nav-return {
    position: absolute;
    height: inherit;
    left: 0;
    top: 0;
}

.nav-return a{
    height: inherit;
    display: block;
}
.nav-return a:active{
    background: #419695;
}
.nav-return img {
    height: 100%;
    width: auto;
}

.nav-title {
    text-align: center;
    color: #fff;
}

[data-dpr="1"] .nav-title {
    font-size: 18px;
    line-height: 44px;
}

[data-dpr="2"] .nav-title {
    font-size: 36px;
    line-height: 88px;
}

[data-dpr="3"] .nav-title {
    font-size: 54px;
    line-height: 132px;
}

/*header结束*/
/*main开始*/

[data-dpr="1"] #wrapper form {
    padding-top: 64px;
}

[data-dpr="2"] #wrapper form {
    padding-top: 128px;
}

[data-dpr="3"] #wrapper form {
    padding-top: 192px;
}

#wrapper label {
    float: left;
    width: 25%;
    color: #76787d;
}
[data-dpr="1"] #wrapper label {
    font-size: 15px;
    padding: 15px 0;
}
[data-dpr="2"] #wrapper label {
    font-size: 30px;
    padding: 30px 0;
}

[data-dpr="3"] #wrapper label {
    font-size: 45px;
    padding: 45px 0;
}

.item {
    padding: 0 3%;
    border-bottom: 1px solid #f6f6f6;
    background: #fff;
    text-align: left;
}

#wrapper input {
    border: none;
    outline: none;
    background: none;
    line-height: 100%;
    width: 75%;
}
[data-dpr="1"] #wrapper input {
    font-size: 15px;
    padding: 15px 0;
}
[data-dpr="2"] #wrapper input {
    font-size: 30px;
    padding: 30px 0;
}

[data-dpr="3"] #wrapper input {
    font-size: 45px;
    padding: 45px 0;
}

.code-input {
    position: relative;
}


.get-code-click {
    position: absolute;
    padding: 0 0.5rem;
    top: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background: #4cb0ae;
    margin-right: 3%;
    margin-top: 0.15575rem;
    border-radius: 4px;
}
[data-dpr="1"] .get-code-click {
    font-size: 12px;
    line-height: 34px;
}
[data-dpr="2"] .get-code-click {
    font-size: 24px;
    line-height: 70px;
}
[data-dpr="3"] .get-code-click {
    font-size: 36px;
    line-height: 105px;
}


.button-input {
    width: 94%;
    margin: 0.3125rem auto 0;
    height: 1.40625rem;
}

#wrapper .button-input input[type="submit"] {
    width: 100%;
    background: #4cb0ae;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
}

#wrapper input[type="submit"]:active{
    background-color: #419695;
}


/*2016.6.22-change*/
.prompt-text {
    padding-left: 3%;
    color: #e84a4a;
    line-height: 100%;
    padding-top: 0.15625rem;
    height: 0.46875rem;
}
[data-dpr="1"] .prompt-text {
    font-size: 12px;
}
[data-dpr="2"] .prompt-text {
    font-size: 24px;
}

[data-dpr="3"] .prompt-text {
    font-size: 36px;
}
.prompt-img{
    float: left;
}
.prompt-img img{
    width:100%;
    height: 100%;
}
[data-dpr="1"] .prompt-img {
    width: 12px;
    height: 12px;
}
[data-dpr="2"] .prompt-img {
    width: 24px;
    height: 24px;
}

[data-dpr="3"] .prompt-img {
    width: 36px;
    height: 36px;
}
.prompt{
    padding-left:0.15625rem;
}
/*2016.6.22-change*/


.agreement-text {
    padding-left: 3%;
    color: #adb2bf;
    line-height: 100%;
}
[data-dpr="1"] .agreement-text {
    font-size: 12px;
    padding-top: 20px;
}
[data-dpr="2"] .agreement-text {
    font-size: 24px;
    padding-top: 40px;
}

[data-dpr="3"] .agreement-text {
    font-size: 36px;
    padding-top: 60px;
}

.agreement-text span {
    color: #4cb0ae;
}

::-webkit-input-placeholder {
    color: #d1d1d1;
    line-height: 100%;
}
[data-dpr="1"] ::-webkit-input-placeholder {
    font-size: 15px;
}
[data-dpr="2"] ::-webkit-input-placeholder {
    font-size: 30px;
}

[data-dpr="3"] ::-webkit-input-placeholder {
    font-size: 45px;
}

.help {
    width: 94%;
    margin: 0 auto;
}

.help a[name="old-user"] {
    float: right;
}

.help a {
    display: block;
    line-height: 0.9375rem;
    color: #4cb0ae;
    text-decoration: none;
}
[data-dpr="1"] .help a {
    font-size: 12px;
}
[data-dpr="2"] .help a {
    font-size: 24px;
}

[data-dpr="3"] .help a {
    font-size: 36px;
}


/*2015.06.22-add*/
.get-code-img{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 0.15575rem;
}
[data-dpr="1"] .get-code-img {
    height: 34px;
}
[data-dpr="2"] .get-code-img {
    height: 68px;
}
[data-dpr="3"] .get-code-img {
    height: 102px;
}

.change-pic{
    float: right;
    border-bottom: 1px solid #c2c3c4;
    color: #76787d;
}
[data-dpr="1"] .change-pic {
    font-size: 10px;
    margin-top: 10px;
}
[data-dpr="2"] .change-pic {
    font-size: 20px;
    margin-top: 20px;
}
[data-dpr="3"] .change-pic {
    font-size: 30px;
    margin-top: 30px;
}

.code-pic{
    float: left;
}
.code-pic img{
    width: 100%;
    height: 100%;
}
[data-dpr="1"] .code-pic {
    width: 44px;
    height: 34px;
    margin:0 8px;
}
[data-dpr="2"] .code-pic {
    width: 88px;
    height: 68px;
    margin:0 16px;
}
[data-dpr="3"] .code-pic {
    width: 132px;
    height: 102px;
    margin:0 24px;
}