@charset "UTF-8";
/*字体设置开始*/
[data-dpr="1"] .font16 {
  font-size: 8px; }

[data-dpr="2"] .font16 {
  font-size: 16px; }

[data-dpr="3"] .font16 {
  font-size: 24px; }

[data-dpr="1"] .font20 {
  font-size: 10px; }

[data-dpr="2"] .font20 {
  font-size: 20px; }

[data-dpr="3"] .font20 {
  font-size: 30px; }

[data-dpr="1"] .font28 {
  font-size: 14px; }

[data-dpr="2"] .font28 {
  font-size: 28px; }

[data-dpr="3"] .font28 {
  font-size: 42px; }

[data-dpr="1"] .font32 {
  font-size: 16px; }

[data-dpr="2"] .font32 {
  font-size: 32px; }

[data-dpr="3"] .font32 {
  font-size: 48px; }

[data-dpr="1"] .font48 {
  font-size: 24px; }

[data-dpr="2"] .font48 {
  font-size: 48px; }

[data-dpr="3"] .font48 {
  font-size: 72px; }

/*字体设置结束*/
/*          整体结构开始          */
#header {
  width: 100%;
  background-color: #4cb0ae;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #ddd; }

[data-dpr="1"] #header {
  height: 44px; }

[data-dpr="2"] #header {
  height: 88px; }

[data-dpr="3"] #header {
  height: 132px; }

#wrapper {
  position: absolute;
  z-index: 1;
  top: 44px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #f9f9f9; }

[data-dpr="1"] #wrapper {
  top: 44px;
  bottom: 50px; }

[data-dpr="2"] #wrapper {
  top: 88px;
  bottom: 100px; }

[data-dpr="3"] #wrapper {
  top: 132px;
  bottom: 150px; }

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

#footer {
  background: #ccc;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border-top: 1px solid #ddd; }

[data-dpr="1"] #footer {
  height: 50px; }

[data-dpr="2"] #footer {
  height: 100px; }

[data-dpr="3"] #footer {
  height: 150px; }

/*          整体结构结束          */
/*          header开始            */
.nav-side {
  position: absolute;
  height: inherit;
  left: 0;
  top: 0; }

.nav-side img {
  height: 100%;
  width: auto; }

.nav-title {
  text-align: center;
  color: #fff; }

[data-dpr="1"] .nav-title {
  font-size: 18px;
  line-height: 44px; }

[data-dpr="2"] .nav-title {
  font-size: 36px;
  line-height: 88px; }

[data-dpr="3"] .nav-title {
  font-size: 54px;
  line-height: 132px; }

/*header结束*/
.progress-data {
  text-align: center;
  padding-top: 0.90625rem;
  position: relative;
  border-bottom: 1px solid #ddd;
  background: #fff; }
  .progress-data .information {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .progress-data .information p {
      padding-top: 2.5rem;
      font-size: 0.3125rem; }
    .progress-data .information span {
      color: #f53030;
      font-size: 1.125rem; }
  .progress-data .name {
    color: #76787d;
    line-height: 0.875rem;
    padding-top: 0.3125rem; }
  .progress-data .number {
    color: #adb2bf;
    line-height: 100%; }
  .progress-data .project-list {
    padding-bottom: 0.3125rem;
    padding-top: 0.625rem;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box; }
    .progress-data .project-list li {
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      color: #76787d;
      line-height: 0.46875rem; }
      .progress-data .project-list li span {
        color: #f53030; }
    .progress-data .project-list .time {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd; }

/*# sourceMappingURL=style-invest.css.map */
