@charset "UTF-8";
//px转rem
@mixin px2rem($property,$px-values,$baseline-px,$support-for-ie:false) {
  //Conver the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  //Print the first line in pixel values
  @if $support-for-ie {
    #{$property}: $px-values;
  }
  //if there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem;
  } @else {
    //Create an empty list that we can dump values into
    $rem-values: ();
    @each $value in $px-values {
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of($value) != "number" {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    // Return the property and its list of converted values
    #{$property}: $rem-values;
  }
}

$background: #f9f9f9;
$blue: #4cb0ae; //蓝色
$red: #f53030; //红色
$normal: #76787d; //正常字体
$gray: #adb2bf; //辅助字体
$title-font: #56575b; //标题字体
$border: 1px solid #ddd; //边框
/*字体设置开始*/
@mixin font-dpr($font-size) {
  [data-dpr="1"] & {
    font-size: $font-size/2;
  }

  [data-dpr="2"] & {
    font-size: $font-size;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 1.5;
  }
}

/*字体设置结束*/
/*header-start*/
html {
  background-color: #f9f9f9;
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clear {
  clear: both;
}

#header {
  width: 100%;
  background-color: $blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

[data-dpr="1"] #header {
  height: (88px/2);
}

[data-dpr="2"] #header {
  height: (88px);
}

[data-dpr="3"] #header {
  height: (88px*1.5);
}

#wrapper {
  width: 100%;
}

[data-dpr="1"] #wrapper {
  padding-top: (88px/2);
}

[data-dpr="2"] #wrapper {
  padding-top: (88px);
}

[data-dpr="3"] #wrapper {
  padding-top: (88px*1.5);
}

.nav-return {
  position: absolute;
  height: inherit;
  left: 0;
  top: 0;
}

.nav-return a {
  height: inherit;
  display: block;
}

.nav-return a:active {
  background: #419695;
}

.nav-return img {
  height: 100%;
  width: auto;
}

.nav-title {
  text-align: center;
  color: #fff;
}

[data-dpr="1"] .nav-title {
  font-size: 18px;
  line-height: 44px;
}

[data-dpr="2"] .nav-title {
  font-size: 36px;
  line-height: 88px;
}

[data-dpr="3"] .nav-title {
  font-size: 54px;
  line-height: 132px;
}

/*header-end*/
/*wrapper-start*/
.vip-true {
  .card-pic {
    background-image: url("../images/user/vip-true.png");
  }
}

.vip-false {
  .card-pic {
    background-image: url("../images/user/vip-false.png");
  }
}

.user-vip {
  @include px2rem(margin-top, 30px, 64px, false);
}

.card-pic {
  @include px2rem(height, 340px, 64px, false);
  width: 82%;
  padding: 0 6%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .user-name {
    @include font-dpr(24px);
    color: #fff;
    line-height: 100%;
    @include px2rem(padding-top, 247px, 64px, false);
  }
  .ip-name {
    float: left;
    @include font-dpr(24px);
    color: #fff;
    @include px2rem(line-height, 42px, 64px, false);
  }
  .vip-status {
    float: right;
    @include font-dpr(24px);
    color: #fff;
    @include px2rem(line-height, 42px, 64px, false);
  }
}

.vip-list {
  text-align: center;
  @include px2rem(margin-top, 30px, 64px, false);
  .list {
    @include px2rem(margin-top, 30px, 64px, false);
  }
  img {
    display: inline-block;
    @include px2rem(width, 74px, 64px, false);
  }
  p {
    @include font-dpr(28px);
    color: $normal;
    @include px2rem(line-height, 76px, 64px, false);
  }
  .list-title {
    @include px2rem(width, 220px, 64px, false);
    @include px2rem(padding-left, 50px, 64px, false);
    background: url("../images/user/vip-icon.png") no-repeat left top;
    background-size: auto 94%;
    @include font-dpr(36px);
    color: $normal;
    line-height: 100%;
    margin-left: 4%;
    text-align: left;
  }
}

.list01 {
  @include px2rem(width, 400px, 64px, false);
  margin: 0 auto;
  border-bottom: $border;
}

.list02, .list03 {
  float: left;
  @include px2rem(width, 274px, 64px, false);
}

.list02 {
  border-right: $border;
  @include px2rem(margin-left, 46px, 64px, false);
}

.vip-rule {
  text-align: center;
  @include px2rem(margin-top, 43px, 64px, false);
  @include px2rem(line-height, 72px, 64px, false);
  color: $normal;
  @include font-dpr(24px);
}

.vip-btn {
  width: 100%;
  text-align: center;
  background: $blue;
  @include font-dpr(32px);
  color: #fff;
  @include px2rem(line-height, 100px, 64px, false);
  border-top: $border;
  text-decoration: none;
  &:active{
    background-color: #419695;
  }
}

/*wrapper-end*/

/*popup-start*/
.popup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.popup-content {
  @include px2rem(width, 400px, 64px, false);
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  /*-webkit-transform:translateY(40%);*/
  position: absolute;
  @include px2rem(left, 113px, 64px, false);
  top: 40%;
  z-index: 10000;
  .tell, .qq {
    a {
      display: block;
      @include font-dpr(28px);
      color: $normal;
      @include px2rem(line-height, 88px, 64px, false);
      border-bottom: $border;
      text-decoration: none;
      &:active {
        background-color: $background;
      }
    }
  }
  .yes {
    @include font-dpr(28px);
    color: $normal;
    @include px2rem(line-height, 88px, 64px, false);
    &:active {
      background-color: $background;
    }
  }
}

/*popup-end*/